a:link {
    color: black;
}

/* unvisited link */
a:visited {
    color: black;
}

/* visited link */
a:hover {
    color: black;
}

/* mouse over link */
a:active {
    color: black;
}

/* selected link */

.banner {
    background-color: rgb(240, 240, 240);
    color: #606060;
}

.topFixed {
    border-bottom-color:#E9E9E9;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .15);
    box-shadow: 0 0 8px rgba(0, 0, 0, .15);
}

.description {
    border-color: #ADA692;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
}

body {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(45deg, #ffffff 0%, #f5f5f5 37%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #ffffff), color-stop(37%, #f5f5f5), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #ffffff 0%, #f5f5f5 37%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #ffffff 0%, #f5f5f5 37%, #ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #ffffff 0%, #f5f5f5 37%, #ffffff 100%); /* IE10+ */
    background: linear-gradient(45deg, #ffffff 0%, #f5f5f5 37%, #ffffff 100%); /* W3C */
}

#country_select {
    border-color: rgb(180, 180, 180);
}

#main_form {
    border-color:rgb(180, 180, 180);
    background-color: rgb(240, 240, 240);
}

.main_table {
    border-color: rgb(180, 180, 180);
    background-color: rgb(250, 250, 250);
}

.AC_url {
	color: blue;
	text-decoration:underline;
	-moz-text-decoration-color:blue;
	text-decoration-color:blue;
}

#div1 {
    background-color: rgb(240, 240, 240);
    border-color: rgb(180, 180, 180);
}

#div12 {
    border-color: rgb(180, 180, 180);
    color: #B3B1B2;
}

#div13 {
    border-color: rgb(180, 180, 180);
}


#div3a {
    background-color: rgb(240, 240, 240);
    border-color:rgb(180, 180, 180);
}

#div12 {
    color: black;
}

#div32 {
    background-color: rgb(250, 250, 250);
    border-color: #ADA692;
}

@media screen and (max-width: 700px)  and (min-width: 500px) {

    body {
        background: #ffffff; /* Old browsers */
    }
}

@media screen and (max-width: 500px) and (min-width: 400px) {

    body {
        background: #ffffff; /* Old browsers */
    }
}

@media screen and (max-width: 400px) and (min-width: 260px) {
    body {
        background: #ffffff; /* Old browsers */
    }
}

@media screen and (max-width: 260px) {
    body {
        background: #ffffff;
    }
}

.donate {
    background-color: #4d7bd6;
    background-image: -moz-linear-gradient(top,#5689db 0%,#4d7bd6 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#5689db),color-stop(100%,#4d7bd6));
    background-image: -webkit-linear-gradient(top,#5689db 0%,#4d7bd6 100%);
    background-image: -o-linear-gradient(top,#5689db 0%,#4d7bd6 100%);
    background-image: -ms-linear-gradient(top,#5689db 0%,#4d7bd6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5689db,endColorstr=#4d7bd6,GradientType=0);
    background-image: linear-gradient(top,#5689db 0%,#4d7bd6 100%);
    border: 1px solid #2d53af;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 2px 0 0 rgba(255,255,255,.06) inset,0 2px 3px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 2px 0 0 rgba(255,255,255,.06) inset,0 2px 3px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 0 0 rgba(255,255,255,.06) inset,0 2px 3px 0 rgba(0,0,0,.2);
}