/*
div, table, .table, .td, .tr, tr, td  {
    border: 1px solid #000000;
}
*/

.table {
    display: table;
    width: 100%;
}

.result_table{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
	background:rgb(250, 250, 250);
	border:solid 2px rgb(180, 180, 180);
	margin:1;
	width:98%;
	border-spacing:0px;
	border-collapse:separate;
}

.result_table td{
    border: solid 1px black;
}

.result_table .border_hidden{
    border-style:hidden;
}

.result_table .td_left{
    border-left-style:hidden;
}
.result_table .td_right{
    border-right-style:hidden;
}
.result_table .td_top{
    border-top-style:hidden;
}
.result_table .td_bottom{
    border-bottom-style:hidden;
}

.result_table .bottom_2px_solid{
    border-bottom-width:2px; 
    border-bottom-style:solid; 
    border-bottom-color:black;"
}
.result_table .top_2px_solid{
    border-top-width:2px; 
    border-top-style:solid; 
    border-top-color:black;"
}
.result_table .bottom_3px_solid{
    border-bottom-width:4px; 
    border-bottom-style:double; 
    border-bottom-color:black;"
}
.result_table .top_3px_solid{
    border-top-width:4px; 
    border-top-style:double; 
    border-top-color:black;"
}

.row {
    display: table-row;
	width:100%;
}

.cell {
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
}

.flag {
    background: url(../images/flags24.png) no-repeat;
    height:24px;
    width:24px
}

.banner {
    padding: 6px;
    text-align: center;
    overflow: auto;
}

.td_values{
	padding-left: 6px;
}

input {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	
	font-size: 80%;
    height: 28px;
    vertical-align: middle;
	border: 2px;
	border-color: rgb(180, 180, 180);
	border-style: solid;	
}

input.button {
	border-color: rgb(150, 150, 150); 
	background-color: rgb(178, 178, 178); 
	border-style: solid;
	height: 28px !important;
	cursor: pointer;
}

input[type="radio"]{
	cursor: pointer;
}

select{
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	height: 28px !important;
		
	margin: 0;
    padding: 2px 0 0 0;
	
	border: 2px; 
	border-color: rgb(180, 180, 180); 
	border-style: solid;
}

.hidden_tp{
	border-top-style:none;
	border-bottom-style:none;
}

.roundCornerSlight {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.roundCorner {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.topFixed {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid;
}

.form_sub_header {
	width: 100%; 
	text-align: center; 
	border-top: 1px solid black; 
	border-bottom: 1px solid black; 
	color: white; 
	background-color: rgb(173, 166, 146);
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}

.description {
    text-align: justify;
    margin-bottom: 25px;
    padding: 0 30px 0 30px;
    border-width: 2px medium;
    border-bottom-style: solid;
	margin-top:2px;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    padding-top: 10px;
    margin: 0;
}

select {
    font-size: 80%;
    height: 20pt;
    vertical-align: middle;
}

.hidden{
	display: none;
}

.p5 {
    font-size: 170%;
}

.p4 {
    font-size: 95%;
}

.p3 {
    font-size: 101%;
}

.p2 {
    font-size: 80%;
}

.p1 {
    font-size: 40%;
}

#container {
    width: 100%;
    display: block;
    overflow: hidden;
}

.form_part{
	overflow: hidden;
}

#banner_left {
    width: 15%;
    float: left;
    display: inline;
}

#banner_top{
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 1px solid;
	border-bottom-color:#E9E9E9;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .15);
	box-shadow: 0 0 8px rgba(0, 0, 0, .15);
}

.main_title {
    text-align: center;
	margin: 0 auto;
    width: 70%;
    display: inline;
}

.banner_right {
	float: right;
	width: 15%;
    text-align: right;
    vertical-align: top;
    display: inline;
}

.div_element{
padding-left:20px;
}

.div_element ul{
	padding:0;
	margin:0;
}

	.div_element ul li{		
		list-style:none;
		margin-bottom:5px;
	}

.div_empty{
	height:15px;
}	

.list_gorizont{
	padding:0;
	margin:0;
}

	.list_gorizont li{
		list-style:none;
		display: inline-block;	
	}

.car_to_job_part,
.time_spent_part_1{
	display:none;
}

#country_select {
    border: 2px groove;
    margin: 0;
}

#main_form {
    margin: 0 auto;
    width: 95%;
    padding: 2%;
    display: block;
    overflow: hidden;
    max-width: 620px;
    border: solid 2px;
}

#title-div{
	background-color: transparent;
}

#input_div{
	margin: 0 auto;
	display:visible; 
	overflow:hidden;
}

.main_table {
    margin: 0 auto;
    width: 98%;
    display: table;
    overflow: hidden;
    border: solid 2px;
}

#main_div {
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
}

#div1 {
    border: solid 2px;
    float: right;
    padding-top: 24px;
    text-align: center;
    width: 20%;
}

#div12 {
    border: 2px solid;
    font-size: 110%;
    padding: 5px;
    text-align: center;
    width: 85%;
}

#div13 {
    border: 2px solid;
    display: block;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    width: 85%;
    margin: 0 auto;
    border-radius: 7px;
}

#div2 {
    float: left;
    width: 60%;
    text-align: center;
    display: block;
    overflow: visible;
    margin: 0 auto;
    
}

#div3 {
    display: block;
    float: left;
    overflow: visible;
	padding: 0;
	margin: 0 auto;
    width: 19%;
}

#div3a{
    border: solid 2px;
    display: block;
    overflow: visible;
    padding: 10px 0 10px;
    width: 98%;
	margin: 0 auto;
}

#ac_logo{
	text-align: center; 
	width: 90%; 
	padding: 3px 0 7px 0; 
	margin: 0px;
}

#br_btween_divs {
    display: none;
}

#div11 {
    width: 85%;
}

#div12 {
    width: 85%;
    font-size: 110%;
}

#div13 {
    width: 85%;
    padding: 2%;
    display: block;
}

#div14 {
    width: 85%;
    font-size: 110%;
}

#div32 {
    border: 2px solid;
    padding: 2%;
    text-align: center;
    width: 80%;
}

#div_seg0 {
    width: 100%;
    display: block;
    overflow: auto;
}

#div_seg1 {
    float: left;
    text-align: center;
    width: 70%;
}

#div_seg2 {
    float: left;
    text-align: right;
    width: 30%;
}

#tbl_statistics {
	border: 1px solid black;
	border-spacing: 0;
	border-collapse: separate;
	width: 100%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	margin-left: auto;
    margin-right: auto;
}

#td-top-title {
    border-top: 0;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px; 
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
}

#table-td-bottom-left {
	border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
}
#table-td-bottom-right {
	border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
}

#tbl_statistics span.stat_title{
	font-size: 65%;
	font-weight: bold;
}

#tbl_statistics span{
	font-size: 75%;
}

#tbl_statistics tr.tr-title{
	background-color: #FFFACD;   
}

#tbl_statistics td.td-title{
	border-top: inherit;
}

#tbl_statistics tr.tr-sub-title{
	background-color: #FFEC8B;	
}

#tbl_statistics tr.tr-sub-title td span{
	font-weight: bold;
	font-size: 70%;	
}

#tbl_statistics tr.tr-sub-title:last-of-type td span{
	color: #B22222;
	font-weight: bold;
	font-size: 80%;
}

#tbl_statistics td.td-result{
	border-right: 1px solid black;
}

#tbl_statistics tr.tr-result{
	background-color: #FFF8DC;
	line-height: 90%;
	padding-bottom: 3px;
	font-size: inherit;
}

#tbl_statistics tr.tr-result td span{
	color: #B22222;
	font-size: 70%;
	font-weight: bold;
}

#tbl_statistics tr.tr-result.blue td span{
	color: black;	
	font-weight: normal;
}

#tbl_statistics tr.tr-result.orange td span{
	color: #FF4500;	
}

#tbl_statistics td {
	border-top:solid black 1px;
}

#tbl_statistics td.center{
	text-align: center;
	padding-bottom: 3px;
}

#tbl_statistics td.left{
	text-align: left;
	padding-left: 3px;
	border-right:solid black 1px;
}

#tbl_statistics td.right{
	text-align: right;
	padding-right: 3px;
}

#tbl_statistics_footer{
	font-size: 60%;
	text-align: left;
	padding-left: 2px;
}

#blocker {
    position: absolute;
    width: 98%;
    height: 100%;
    opacity: .3;
    background-color: #000;
    z-index: 1000;
    display: none;
}

    #blocker div {
        position: absolute;
        top: 220px;
        left: 57%;
        width: 2em;
        height: 2em;
        margin: -1em 0 0 -2.5em;
        color: #fff;
        font-weight: bold;
    }

@media screen and (max-width: 920px)  and (min-width: 700px) {

    #banner_left {
        display: none;
    }

    #main_title {
        float: left;
        text-align: center;
        width: 85%;
        display: inline;
    }

    .banner_right {
        width: auto;
        float: right;
        text-align: right;
        vertical-align: top;
        display: inline;
    }
	
	.description{
		margin-top:5%;
	}

    #div2 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 700px)  and (min-width: 500px) {

    .p5 {
        font-size: 200%;
    }
	
    #container {
        width: 100%;
        display: block;
        overflow: auto;
    }

    #main_div {
        padding: 15px
    }

    #main_form {
        margin: 0;
        width: 95%;
        padding: 2%;
        max-width: 620px;
    }

    .main_table {
        margin: 1px;
        width: 98%;
    }

    #banner_left {
        display: none;
    }

    #main_title {
        float: none;
        text-align: center;
        width: auto;
    }

    .banner_right {
        float: none;
        width: auto;
        margin: 0;
        text-align: center;
        display: block;
        overflow: auto;
    }

	.description{
		margin-top:12%;
	}

    #div12 {
        border: none;
    }
	
    #div1 {
        padding: 2px;
        float: none;
        width: auto;
        text-align: 
        ;
    }

    #div11 {
        display: none;
    }

    #div13 {
        width: 95%;
        font-size: 160%;
        padding: 2%;
        display: block;
    }

    #div14 {
        width: 100%;
        font-size: 180%;
    }

    #br0 {
        display: none;
    }

    #br1 {
        display: none;
    }

    #br2 {
        display: none;
    }

    #br3 {
        display: none;
    }

    #br_btween_divs {
        display: block;
    }

    #div2 {
        float: none;
        width: auto;
        margin: 0;
        text-align: center;
        display: block;
        overflow: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #div3 {
        float: none;
        width: auto;
        margin: 0;
        text-align: center;
    }
    
    #generate_PDF {
        display: none;
    }
}

@media screen and (max-width: 500px) and (min-width: 400px) {

    #country_select {
        float: none;
        vertical-align: top;
        text-align: center;
    }

    #br0, #br1, #br2, #br3, #div11, #banner_left {
        display: none;
    }

    .p5 {
        font-size: 150%;
    }

    .p4 {
        font-size: 85%;
    }

    #main_div {
        border: none;
        padding: 0;
    }

    #container {
        width: 100%;
        display: block;
        overflow: auto;
    }

    #main_form {
        width: 99%;
        margin: 0;
        padding: 5% 0 5% 0;
    }

    #main_title {
        float: none;
        text-align: center;
        width: auto;
    }

    .banner_right {
        float: none;
        width: auto;
        margin: 0;
        text-align: center;
        display: block;
        overflow: auto;
    }

	.description{
		margin-top:13%;
	}
	
    #div1 {
        padding: 2px;
        float: none;
        width: auto;
        text-align: center;
    }

    #div12 {
        border: none;
    }

    #div13 {
        width: 95%;
        display: block;
        font-size: 160%;
    }

    #div14 {
        width: 100%;
        font-size: 180%;
    }

    #div2 {
        float: none;
        width: auto;
        margin: 0;
        text-align: center;
        display: block;
        overflow: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #div3 {
        float: none;
        width: auto;
        margin: 0;
        text-align: center;
    }

    #br_btween_divs {
        display: block;
    }
    
    #generate_PDF {
        display: none;
    }
}

@media screen and (max-width: 400px) and (min-width: 260px) {

    input, select {
        font-size: 60%;
        height: 14pt;
        vertical-align: middle;
    }

    .p5 {
        font-size: 100%;
    }

    .p4 {
        font-size: 85%;
    }

    .p3 {
        font-size: 80%;
    }

    .p2 {
        font-size: 60%;
    }

    #div11, #banner_left {
        display: none;
    }

    #main_div {
        border: none;
        padding: 0;
    }

    #container {
        width: 100%;
        display: block;
        overflow: auto;
    }

    #main_form {
        width: 99%;
        margin: 0;
        padding: 5% 0 5% 0;
    }

    .main_table {
        border: none;
    }

    #main_title {
        float: none;
        text-align: center;
        width: auto;
    }

    .banner_right {
        float: none;
        width: auto;
        margin: 0;
        text-align: center;
        display: block;
        overflow: auto;
    }

	.description{
		margin-top:14%;
	}
	
    #div1 {
        padding: 2px;
        float: none;
        width: auto;
        text-align: center;
    }

    #div13 {
        width: 95%;
        display: block;
    }

    #div14 {
        width: 100%;
    }

    .div_seg {
        float: none;
        text-align: center;
        width: auto;
    }

    #br0, #br1, #br2, #br3 {
        display: none;
    }

    #div2 {
        float: none;
        width: auto;
        margin: 0;
        text-align: center;
        display: block;
        overflow: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #div3 {
        float: none;
        width: auto;
        margin: 0;
        text-align: center;
    }

    #br_btween_divs {
        display: block;
    }
    
    #generate_PDF {
        display: none;
    }
}

@media screen and (max-width: 260px) {

    input, select {
        font-size: 45%;
        height: 20%;
        min-height: 16px;
        vertical-align: middle;
    }

    .p5 {
        font-size: 60%;
    }

    .p4 {
        font-size: 50%;
    }

    .p3 {
        font-size: 60%;
    }

    .p2 {
        font-size: 45%;
    }

    .main_table, #banner_left, #div11, #div12, #br0, #br1, #br2, #br3 {
        border: none;
    }

    #div11, #banner_left {
        display: none;
    }
	
    #main_div {
        border: none;
        padding: 0;
    }

    #container {
        width: 100%;
        display: block;
        overflow: auto;
    }

    #main_form {
        width: 99%;
        margin: 0;
        padding: 5% 0 5% 0;
    }

    #main_title {
        float: none;
        text-align: center;
        width: auto;
    }

    .banner_right {
        float: none;
        width: auto;
        margin: 0;
        text-align: center;
        display: block;
        overflow: auto;
    }

	.description {
		margin-top:15%;
	}
	
    #div1 {
        padding: 2px;
        float: none;
        width: auto;
        text-align: center;
    }

    #div13 {
        width: 95%;
        display: block;
    }

    #div14 {
        width: 100%;
    }

    .div_seg {
        float: none;
        text-align: center;
        width: auto;
    }

    #div2 {
        float: none;
        width: auto;
        margin: 0;
        text-align: center;
        display: block;
        overflow: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #div3 {
        float: none;
        width: auto;
        margin: 0;
        text-align: center;
    }

    #br_btween_divs {
        display: block;
    }
    
    #generate_PDF {
        display: none;
    }
}