/*==================================================================================================*/
/******  CSS file for screen under 1024px of width **************************************************/
/*==================================================================================================*/

@media all and (max-width: 1024px) {

    #div3_td, #div1_td {
        width:25%;
    }
    #div2_td{
        width: 95%;
    }
    #input_div .col {
        width: 100%;
    }
    #country_box input[type="text"] {
        width: 80%;
    }
    #div13,
    #div3a {
        margin: 2%;
    }
    #description {
        margin-top: 4em;
    }
}
/*===============================*/
@media all and (max-width: 820px) {
    #div1,
    #div3 {
        font-size:70%;
    }
}


/*************************************************************************************************/
/*================================ Adapts for mobile devices ====================================*/
/*************************************************************************************************/

/*The treshold from which the blocks are vertically aligned*/
@media all and (max-width: 768px) {

    #container_table{
        display: block;
    }

    #main_div{
        padding: 2.5%;
    }
    #div3_td, #div1_td, #div2_td {
        display: block;
        vertical-align: middle;
        width: 100%;
    }
    #div2, #div3, #div1, .result_section {
        width: 100%;
        font-size:100%;
        margin: 2% 0;
    }
    #input_div {
        margin: 0 2% 2% 2%;
    }
    #input_div table td:nth-child(2n){
        width: 30%;
    }
    #div3a {
        font-size: 110%;
    }
    #banner_top,
    #header_main_title,
    #banner_flag,
    #country_select{
        display: inline;
    }
    #left_top_div{
        display: none;
    }
    #country_box,
    #country_box_inline{
        display: table;
    }
    #country_box_inline{
        margin: 0 auto;
    }
    #country_box {
        margin: auto;
        float: none;
        width: 200px;
    }
    #header_main_title {
        float: none;
        margin: 0 auto;
    }
    #main_title, h1 {
        font-size: 21px;
        margin: 4px auto;
    }
    .result_section_title {
        font-size: 15px;
        line-height: 22px;
    }
    #description {
        margin-top: 70px;
    }
}

/*most popular smartphones have a screen width of 640px */
/*https://deviceatlas.com/blog/most-popular-smartphone-screen-resolutions-2015 */
@media all and (max-width: 645px) {
    .result_div {
        font-size: 90%;
        margin: 5px !important;
    }
    .result_section{
        background: none;
        border: none;
    }
    .hr {
        display: block !important;
    }
    #input_div table td:nth-child(2n){
        width: 35%;
    }
}

/*******************************************************************************/
/*The treshold from which the cells on the result tables are vertically aligned*/
/*******************************************************************************/

@media all and (max-width: 425px) {

    #main_title, h1 {
        font-size: 18px;
        line-height: 18px;
    }
    #div3, #div1, #div2, .result_section {
        float: none;
        width: auto;
        margin: 20px 0 20px 0;
    }

    #input_div table td:nth-child(2n){
        width: 40%;
    }

    .result_div {
        font-size: 105%;
    }

    .result_table {
        margin: 6px auto;
    }

    .result_table,
    #result_table0,
    .costs_table,
    #result_table2,
    #result_table3,
    #result_table4,
    #result_table_uber,
    .result_table td,
    #result_table0 td,
    .costs_table td,
    #result_table2 td,
    #result_table3 td,
    #result_table4 td,
    #result_table_uber td,
    #result_table0 tr:nth-child(4) td:last-child,
    .costs_table tr:last-child td:first-child,
    #result_table2 tr:last-child td:first-child,
    #result_table2 tr:first-child td+td,
    #result_table_uber tr:last-child td:first-child,
    #result_table_uber tr:first-child td+td,
    #result_table3 tr:last-child td:first-child {
        border-radius: 0 !important;
    }
    .result_table tr {
        background-color: #fff;
        border-radius: 0 !important;
    }
    .result_table tr:first-child,
    .result_table tr:last-child {
        background-color: transparent;
    }
    .costs_table tr:last-child,
    #result_table2 tr:first-child,
    #result_table2 tr:last-child,
    #result_table_uber tr:first-child,
    #result_table_uber tr:last-child,
    #result_table3 tr:last-child,
    #result_table4 tr:first-child {
        background-color: #fff;
        border-radius: 0 !important;
    }

    .result_table td {
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 5px;
        border-top: solid 1px #b6b6b6;
        border-left: 0;
        border-right: 0;
        border-bottom: solid 1px #b6b6b6;
        border-radius: 0 !important;
    }

    .result_table tr td:nth-child(2),
    #result_table0 tr:nth-child(2) td:last-child,
    .costs_table tr:nth-child(2) td+td,
    #result_table2 tr:nth-child(2) td:last-child,
    #result_table2 tr:last-child td:last-child,
    #result_table_uber tr:first-child td:last-child,
    #result_table_uber tr:nth-child(2) td:last-child,
    #result_table_uber tr:last-child td:last-child,
    #result_table_uber tr:nth-last-child(2) td:last-child {
        border:0;
    }

    #result_table0 tr:nth-child(2) td:nth-child(2),
    #result_table0 tr:nth-child(2) td:nth-child(3),
    #result_table0 tr:nth-child(2) td:nth-child(4),
    #result_table2 tr:first-child td:last-child,
    #result_table_uber tr:first-child td:last-child,
    #result_table4 tr:first-child td:last-child {
        border-left: 0;
    }

    .costs_table tr:last-child td:first-child,
    .costs_table tr:nth-last-child(4) td:first-child,
    #result_table2 tr:last-child td:first-child,
    #result_table4 tr:nth-last-child(2) td:first-child,
    #result_table_uber tr:last-child td:first-child,
    #result_table_uber tr:nth-last-child(2) td:first-child {
        text-align: center;
    }
    #result_table2 tr:first-child td:first-child,
    #result_table4 tr:first-child td:first-child {
        border-bottom: 1px solid #b4b4b4;
    }

    .costs_table tr:last-child td:last-child {
        border-top: 0;
        padding-left: 0;
    }

    .costs_table tr:last-child td:last-child,
    #result_table2 tr:last-child td:last-child,
    #result_table_uber tr:last-child td:last-child    {
        overflow: visible;
    }
    .red_bold_text {
        font-size: 250%
    }

}