/*
div, span, .table, .td, .tr, table, tr, td  {
    border: 1px solid #000000;
}*/

body {
    margin: 0;
    font-family: "Verdana", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

/*simple elements*/
p {
    margin: 0 0 10px;
}
i { 
    font-style: italic;
}
b {
    font-weight: bold;
}
img {
    width: 100%;
}
a {
    color: #333;
}

/* TABLES */
table {
    width: 100%;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

table>caption+thead>tr:first-child>td, table>caption+thead>tr:first-child>th, table>colgroup+thead>tr:first-child>td, table>colgroup+thead>tr:first-child>th, table>thead:first-child>tr:first-child>td, table>thead:first-child>tr:first-child>th {
    border-top: 0;
}
table>tbody>tr>td, table>tbody>tr>th, table>tfoot>tr>td, table>tfoot>tr>th, table>thead>tr>td, table>thead>tr>th {
    background-color: #fff;
}

/*===LAYOUT under HEADER===*/
/* to Print */
#title2print {
    font-size: 22px;
    line-height: 30px;
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility;
}

#main_div{
    padding: 1%;
}
#div2_td {
    display: table-cell;
    text-align: center;
    vertical-align:top;
}
#div2, .result_section {
    background: #f0f0f0;
    border: 2px solid #b4b4b4;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    max-width:1200px;
}
.result_section{
    margin-top: 20px;
}
#div1, #div3 {
    width: 98%;
    max-width:768px;
}

/*======================================*/
/*===== Main Central Column (div2) =====*/

#div2 td {
    padding: 8px 3% 0;
    overflow: hidden;
}
.result_section_title {
    text-align: center;
    font-size: 17px;
    margin: 20px 0 15px 0;
}
.AC_url {
    color: #0000EE;
    line-height: 30px;
}

#div2 td:nth-child(2n),
.result_section td:nth-child(2n) {
    width: 25%;
}

.title {
    display: block;
    padding: 21px 3% 0 3%;
    font-size: 18px;
    text-align: left;
}

.red_bold_text {
    line-height: 100%;
    border-radius:12px;
    border-width:5px;
    margin: 10px;
    float: center; 
    display: inline-block; 
    padding:2%; 
    font-size:350%; 
    width:auto; 
    font-family:Impact; 
    color:red; 
    border-style:solid;  
}

#pie_chart_div,
#bar_chart_div,
#fin_effort_chart_div {
    margin: 0 auto;
}

/*divs in which the several result tables are inserted*/
.result_div {
    margin: 15px;
}
.result_div td {
    padding: 8px 3%;
    border-top: 1px solid #a5a5a5;
    vertical-align: middle;
}
.result_div td:nth-child(2n) {
    border-left: solid 1px #b6b6b6;
}

.result_table td{
    text-align:left;
}
.result_table td:only-child{
    text-align:center;
}
#result_table0 td {
    text-align: center;
    padding: 9px;
}
#result_table0,
#result_table1,
#result_table2,
#result_table3,
#result_table4,
#tbl_statistics {
    border: 2px solid #b4b4b4;
    border-radius: 10px;
    border-collapse: separate;
}

#result_table0 tr:first-child td,
#result_table1 tr:first-child td,
#result_table2 tr:first-child td,
#result_table3 tr:first-child td,
#result_table4 tr:first-child td,
#tbl_statistics tr:first-child td {
    border-radius: 10px 10px 0 0;
    border-collapse: separate;
    border: 0;
    text-align: center;
    vertical-align: middle;
}

#result_table1 tr:last-child td,
#result_table2 tr:last-child td,
#result_table3 tr:last-child td,
#tbl_statistics tr:last-child td {
    border-radius: 0 0 0 10px;
    border-collapse: separate;
}
#result_table1 tr:last-child td + td,
#result_table2 tr:last-child td + td,
#result_table3 tr:last-child td + td,
#tbl_statistics tr:last-child td + td {
    border-radius: 0 0 10px 0;
    border-collapse: separate;
}
#result_table0 tr:last-child td,
#result_table4 tr:last-child td{
    border-radius: 0 0 10px 10px;
}

#result_table0 tr:nth-child(2) td + td,
#result_table0 tr:nth-child(3) td + td {
    border-left: solid 1px #b6b6b6;
}
#result_table4 tr:nth-last-child(2) td:first-child{
    text-align: right;
}

#result_table1 tr:last-child td,
#result_table2 tr:last-child td {
    text-align: right;
}
#result_table1 tr:last-child td + td,
#result_table2 tr:last-child td + td {
    text-align: left;
    padding-bottom: 6px;
    padding-top: 6px;
}
#result_table1 tr:nth-child(9) td+td,
#result_table1 tr:nth-child(18) td+td{
    padding-bottom: 4px;
    padding-top: 4px; 
}

#result_table2 tr:first-child td,
#result_table4 tr:first-child td {
    border-radius: 10px 0 0 0 ;
}
#result_table2 tr:first-child td + td,
#result_table4 tr:first-child td + td {
    border-left: solid 1px #b6b6b6;
    border-radius: 0 10px 0 0;
}

#result_table1 tr:nth-child(2) td,
#result_table1 tr:nth-child(10) td {
    text-align: center; 
}
#result_table1 tr:nth-child(9) td,
#result_table1 tr:nth-child(18) td {
    text-align: right; 
}
#result_table1 tr:nth-child(9) td + td,
#result_table1 tr:nth-child(18) td + td {
    text-align: left; 
}

#result_table0 tr:nth-child(3) td,
#result_table0 tr:nth-child(4) td,
#result_table1 tr:nth-child(2) td,
#result_table1 tr:nth-child(10) td,
#result_table1 tr:nth-child(19) td,
#result_table1 tr:nth-child(21) td {
    border-top:2px solid #b4b4b4;
}

#text_div {
    padding: 0px 15px;
}

/*=============================*/
