.section-wrapper {max-width: 1170px; width: 100%; margin: 0 auto; }

.worldStats-car-costs-chart {display: block; width: 100%; height: auto; margin-bottom: 25px;}

.worldStats-car-costs .stats-references {display: inline-block; margin-bottom: 100px;}

.notes-sources {display: block; background: #eceffb; margin: 100px 0 0; padding: 100px 0 }
.notes-sources .section-wrapper {max-width: 770px}
.notes-sources .section-wrapper h2 {margin: 0 0 20px}
.notes-sources .section-wrapper ul {text-align: left;}
.notes-sources .section-wrapper ul li {margin: 0 0 10px 18px}
.notes-sources .section-wrapper ul li a {display: inherit;}


/* ---------- Stats Table ---------- */

.notes-sources .section-wrapper .stats-table .theader .table_header {padding: 18px 10px}

.notes-sources .section-wrapper .stats-table .theader .table_header:nth-child(2),
.notes-sources .section-wrapper .stats-table .table_row > .table_small:nth-child(2) > .table_cell:nth-child(2) {text-align: left; }


/*----- Tables -----*/
.table {
  display: table;
  text-align: right;
  width: 100%;
  margin: 0 auto;
  border-collapse: separate;
  border-radius: 5px; 
  color: #000000; 
  font-size: 14px; 
  line-height: 16px; 
  background: white; 
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05); 
  -moz-box-shadow:0px 0px 15px 0px rgba(0,0,0,0.05); 
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
}
  
.table_row {display: table-row;}

.theader {display: table-row;}

.table_header {
  display: table-cell;
  border-top: 3px solid #f4f6fe;
  background: #f4f6fe;
  color: #797b82;
  font-size: 10px;
  line-height: 12px;
  padding: 8px 4px;
  text-align: right;
  text-transform: uppercase;
}  
.table_header:first-child {text-align: left;padding-left: 10px;}

.table_small {display: table-cell; padding: 0 8px; border-bottom: #d2d4de 1px solid;}
.table_small:hover {background: #f4f6fe}
.table_row > .table_small > .table_cell:nth-child(odd) {display: none; color: #000; padding: 12px 10px;}
.table_row > .table_small > .table_cell {padding: 13px 0 21px; color: #000;}
.table_row > .table_small > .table_cell a {font-size: 14px}
.table_row > .table_small:first-child > .table_cell {text-align: left; padding: 0px 0 5px 10px}
.table_row:last-child > .table_small:last-child > .table_cell:last-child {border-bottom-right-radius: 5px;}
.table_row:last-child > .table_small:first-child > .table_cell:last-child {border-bottom-left-radius: 5px;}
  

  /*----- Responsive -----*/
  @media screen and (max-width: 1024px) {
    .worldStats-car-costs {width: 94%; margin: 0 auto;}
    .notes-sources .section-wrapper {width: 94%;}

    .table {width: 90%;display: block; background: none; box-shadow: none; -moz-box-shadow: none;  -webkit-box-shadow: none;}
    .theader {display: none;}
    .table_row > .table_small > .table_cell {padding: 10px 0;}
    .table_row > .table_small > .table_cell:nth-child(odd) {display: table-cell; width: 40%; text-align: left;}
    .table_cell {display: table-cell; width: 50%; border-bottom: #d2d4de 1px solid;}
    .table_row > .table_small > .table_cell a br {display: none}
    .table_row {
      display: table;
      width: 100%;
      border-collapse: separate;
      margin: 20px auto 0;
      text-align: right;
      background: white;
       -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05); 
      -moz-box-shadow:0px 0px 15px 0px rgba(0,0,0,0.05); 
      box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
      border-radius: 5px;
    }
    .table_small {display: table-row;}
    .table_row > .table_small:first-child > .table_cell:last-child {border-left: none;}
    .table_row > .table_small > .table_cell:first-child {color: #797b82; text-transform: uppercase; font-size: 12px; padding-left: 20px;      }
    .table_row > .table_small:first-child > .table_cell:first-child {border-top-left-radius: 5px; padding-top: 12px}
    .table_row > .table_small:first-child > .table_cell:last-child {border-top-right-radius: 5px; text-align: right}
    .table_row > .table_small:last-child > .table_cell:first-child {border: none;}
    .table_row > .table_small > .table_cell:last-child {padding-right: 20px}
    .table_row > .table_small:last-child > .table_cell:first-child {border-bottom-left-radius: 5px;}
    .table_row > .table_small:last-child > .table_cell:last-child {border: none; }

     .notes-sources .section-wrapper .stats-table .table_row > .table_small:nth-child(2) > .table_cell:nth-child(2) {text-align: right;}
  

}


@media screen and (max-width: 700px) {
    
    #statspage_body table td::before {font-size: 12px;}

    .notes-sources {margin: 50px 0 0; padding: 50px 0}

    #statspage_body .stats-references ul li {display: block; padding: 3px 10px 0 15px; line-height: 15px; margin-bottom: 5px}
    #statspage_body .stats-references ul li:before {margin: 0px 0 0 -15px; }

    .table_row > .table_small > .table_cell {padding: 13px 0 21px}

}





