AddDefaultCharset utf-8

DirectoryIndex index.php index.html index.htm 
ErrorDocument 404 /i.php

RewriteEngine On
<IfModule mod_rewrite.c>
RewriteCond %{HTTP_HOST} ^(.*)\.autocosts\.org$ [NC]
RewriteRule (.*)  /%1 [QSA]
</IfModule>

RewriteEngine On
RewriteRule ^([a-z]+)/?$    index.php?c=$1 [NC]