<table id="tbl_statistics">
	<tr class="tr-title">
		<td id="td-top-title" colspan="2" class="center td-title">
			<b><span>Autokosten f체r</span><span class="stat_title"> Deutschland</span></b><br>
			<span>Durchschnittliche monatliche Kosten pro Typ</span>
		</td>
	</tr>
		<tr class="tr-sub-title">
		<td colspan="2" class="center"><span>Standkosten</span></td>
	</tr>
	<tr>
		<td style="width:50%"><span>Abschreibung</span></td>
		<td style="width:25%"><span> &euro; </span><span id="txt_depr" class="value-field">117.3</span></td>
	</tr>
	<tr>
		<td><span>Versicherung</span></td>
		<td><span> &euro; </span><span id="txt_ins" class="value-field">60.8</span></td>
	</tr>
	<tr>
		<td><span>Darlehenszinsen</span></td>
		<td><span> &euro; </span><span id="txt_cred" class="value-field">1.3</span></td>
	</tr>
	<tr>
		<td><span>Inspektion</span></td>
		<td><span> &euro; </span><span id="txt_insp" class="value-field">14.0</span></td>
	</tr>
	<tr>
		<td><span>KFZ-Steuer</span></td>
		<td><span> &euro; </span><span id="txt_tax" class="value-field">18.1</span></td>
	</tr>
	<tr>
		<td><span>50% Wartungskosten</span></td>
		<td><span> &euro; </span><span id="txt_maint1" class="value-field">24.5</span></td>
	</tr>
	<tr class="tr-result">
		<td><span>GESAMT<br>Standkosten</span></td>
		<td><span> &euro; </span><span id="txt_standing_costs" class="value-field">224</span></td>
	</tr>
	<tr class="tr-sub-title">
		<td colspan="2" class="center"><span>Laufende Kosten</span></td>
	</tr>
	<tr>
		<td><span>Kraftstoff</span></td>
		<td><span> &euro; </span><span id="txt_fuel" class="value-field">149.4</span></td>
	</tr>
	<tr>
		<td><span>50% Wartungskosten</span></td>
		<td><span> &euro; </span><span id="txt_maint2" class="value-field">24.5</span></td>
	</tr>
	<tr>
		<td><span>Reparaturen</span></td>
		<td><span> &euro; </span><span id="txt_rep" class="value-field">15.8</span></td>
	</tr>
	<tr>
		<td><span>Parkgeb체hren</span></td>
		<td><span> &euro; </span><span id="txt_park" class="value-field">10.6</span></td>
	</tr>
	<tr>
		<td><span>Mautgeb체hren</span></td>
		<td><span> &euro; </span><span id="txt_tolls" class="value-field">2.3</span></td>
	</tr>
	<tr>
		<td><span>Strafzettel</span></td>
		<td><span> &euro; </span><span id="txt_fines" class="value-field">1.4</span></td>
	</tr>
	<tr>
		<td><span>Waschen</span></td>
		<td><span> &euro; </span><span id="txt_wash" class="value-field">8.8</span></td>
	</tr>
	<tr class="tr-result">
		<td><span>GESAMT<br>Laufende Kosten</span></td>
		<td><span> &euro; </span><span id="txt_running_costs" class="value-field">200</span></td>
	</tr>
	<tr>
		<td colspan="2"></td>
	</tr>
	<tr class="main_total">
		<td><span>GESAMT</span></td>
		<td><span> &euro; </span><span id="txt_total_overal" class="value-field">424</span></td>
	</tr>
	<tr>
		<td><span>Laufende Kosten pro Kilometer</span></td>
		<td><span> &euro;</span><span id="txt_running_costs_dist" class="value-field">0.12</span><span>/km</span></td>
	</tr>
	<tr>
		<td><span>Gesamtkosten pro Kilometer</span></td>
		<td><span> &euro;</span><span id="txt_total_costs_p_unit" class="value-field">0.25</span><span>/km</span></td>
	</tr>
	<tr>
		<td><span>Kinetische Geschwindigkeit</span></td>
		<td><span id="txt_kinetic_speed" class="value-field"></span>59<span> km/h</span></td>
	</tr>
	<tr>
		<td><span>
			<a target="_blank" href="http://en.wikipedia.org/wiki/Effects_of_the_car_on_societies#Kinetic_speed_vs._consumer_speed">
				Verbrauchende Geschwindigkeit
			</a></span></td>
		<td><span id="txt_virtual_speed" class="value-field">31</span><span> km/h</span></td>
	</tr>
	<tr>
		<td id="table-td-bottom-left"><span>j채hrliche Gesamtautokosten</span></td>
		<td id="table-td-bottom-right">&euro; <span id="txt_total_costs_year" class="value-field">5100</span></td>
	</tr>
</table>
<div id="tbl_statistics_footer">
</div>
