<table id="tbl_statistics">
	<tr class="tr-title">
		<td id="td-top-title" colspan="2" class="center td-title">
			<b><span>Automobile omkostninger for</span><span class="stat_title"> Danmark</span></b><br>
			<span>Gennemsnitligt månedligt pris pr typen</span>
		</td>
	</tr>
		<tr class="tr-sub-title">
		<td colspan="2" class="center"><span>Faste udgifter</span></td>
	</tr>
	<tr>
		<td style="width:50%"><span>Afskrivninger</span></td>
		<td style="width:25%"><span> kr </span><span id="txt_depr" class="value-field">841.7</span></td>
	</tr>
	<tr>
		<td><span>Forsikring</span></td>
		<td><span> kr </span><span id="txt_ins" class="value-field">394.5</span></td>
	</tr>
	<tr>
		<td><span>Lånerente</span></td>
		<td><span> kr </span><span id="txt_cred" class="value-field">50.1</span></td>
	</tr>
	<tr>
		<td><span>Syn</span></td>
		<td><span> kr </span><span id="txt_insp" class="value-field">56.6</span></td>
	</tr>
	<tr>
		<td><span>Bilafgift</span></td>
		<td><span> kr </span><span id="txt_tax" class="value-field">250.6</span></td>
	</tr>
	<tr>
		<td><span>50% Vedligehold</span></td>
		<td><span> kr </span><span id="txt_maint1" class="value-field">264.0</span></td>
	</tr>
	<tr class="tr-result">
		<td><span>TOTAL<br>Faste udgifter</span></td>
		<td><span> kr </span><span id="txt_standing_costs" class="value-field">1725</span></td>
	</tr>
	<tr class="tr-sub-title">
		<td colspan="2" class="center"><span>Løbende udgifter</span></td>
	</tr>
	<tr>
		<td><span>Brændstof</span></td>
		<td><span> kr </span><span id="txt_fuel" class="value-field">1187.1</span></td>
	</tr>
	<tr>
		<td><span>50% Vedligehold</span></td>
		<td><span> kr </span><span id="txt_maint2" class="value-field">264.0</span></td>
	</tr>
	<tr>
		<td><span>Reparationer</span></td>
		<td><span> kr </span><span id="txt_rep" class="value-field">168.4</span></td>
	</tr>
	<tr>
		<td><span>Parkering</span></td>
		<td><span> kr </span><span id="txt_park" class="value-field">40.4</span></td>
	</tr>
	<tr>
		<td><span>Vejafgifter</span></td>
		<td><span> kr </span><span id="txt_tolls" class="value-field">21.0</span></td>
	</tr>
	<tr>
		<td><span>Bøder</span></td>
		<td><span> kr </span><span id="txt_fines" class="value-field">29.1</span></td>
	</tr>
	<tr>
		<td><span>Vask</span></td>
		<td><span> kr </span><span id="txt_wash" class="value-field">41.8</span></td>
	</tr>
	<tr class="tr-result">
		<td><span>TOTAL<br>Løbende udgifter</span></td>
		<td><span> kr </span><span id="txt_running_costs" class="value-field">1620</span></td>
	</tr>
	<tr>
		<td colspan="2"></td>
	</tr>
	<tr class="main_total">
		<td><span>TOTAL</span></td>
		<td><span> kr </span><span id="txt_total_overal" class="value-field">3345</span></td>
	</tr>
	<tr>
		<td><span>Løbende udgifter per km</span></td>
		<td><span> kr</span><span id="txt_running_costs_dist" class="value-field">1.19</span><span>/km</span></td>
	</tr>
	<tr>
		<td><span>Totale udgifter per km</span></td>
		<td><span> kr</span><span id="txt_total_costs_p_unit" class="value-field">2.46</span><span>/km</span></td>
	</tr>
	<tr>
		<td><span>Kinetisk hastighed</span></td>
		<td><span id="txt_kinetic_speed" class="value-field"></span>53<span> km/h</span></td>
	</tr>
	<tr>
		<td><span>
			<a target="_blank" href="http://en.wikipedia.org/wiki/Effects_of_the_car_on_societies#Kinetic_speed_vs._consumer_speed">
				Virtuel hastighed
			</a></span></td>
		<td><span id="txt_virtual_speed" class="value-field">24</span><span> km/h</span></td>
	</tr>
	<tr>
		<td id="table-td-bottom-left"><span>Totalomkostninger per år for bilen</span></td>
		<td id="table-td-bottom-right">kr <span id="txt_total_costs_year" class="value-field">40100</span></td>
	</tr>
</table>
<div id="tbl_statistics_footer">
</div>
