<table id="tbl_statistics">
	<tr class="tr-title">
		<td id="td-top-title" colspan="2" class="center td-title">
			<b><span>Costos de Automóviles de</span><span class="stat_title"> Ecuador</span></b><br>
			<span>Costo mensual promedio por tipo</span>
		</td>
	</tr>
		<tr class="tr-sub-title">
		<td colspan="2" class="center"><span>Gastos fijos</span></td>
	</tr>
	<tr>
		<td style="width:50%"><span>Depreciación</span></td>
		<td style="width:25%"><span> &#36; </span><span id="txt_depr" class="value-field">37.4</span></td>
	</tr>
	<tr>
		<td><span>Seguro</span></td>
		<td><span> &#36; </span><span id="txt_ins" class="value-field">35.0</span></td>
	</tr>
	<tr>
		<td><span>Intereses del préstamo</span></td>
		<td><span> &#36; </span><span id="txt_cred" class="value-field">0.0</span></td>
	</tr>
	<tr>
		<td><span>Revisión</span></td>
		<td><span> &#36; </span><span id="txt_insp" class="value-field">10.3</span></td>
	</tr>
	<tr>
		<td><span> Impuestos del vehículo</span></td>
		<td><span> &#36; </span><span id="txt_tax" class="value-field">12.9</span></td>
	</tr>
	<tr>
		<td><span>50% Mantenimiento</span></td>
		<td><span> &#36; </span><span id="txt_maint1" class="value-field">33.5</span></td>
	</tr>
	<tr class="tr-result">
		<td><span>TOTAL<br>Gastos fijos</span></td>
		<td><span> &#36; </span><span id="txt_standing_costs" class="value-field">112</span></td>
	</tr>
	<tr class="tr-sub-title">
		<td colspan="2" class="center"><span>Gastos de explotación</span></td>
	</tr>
	<tr>
		<td><span>Combustible</span></td>
		<td><span> &#36; </span><span id="txt_fuel" class="value-field">220.0</span></td>
	</tr>
	<tr>
		<td><span>50% Mantenimiento</span></td>
		<td><span> &#36; </span><span id="txt_maint2" class="value-field">33.5</span></td>
	</tr>
	<tr>
		<td><span>Reparaciones</span></td>
		<td><span> &#36; </span><span id="txt_rep" class="value-field">29.2</span></td>
	</tr>
	<tr>
		<td><span>Estacionamiento</span></td>
		<td><span> &#36; </span><span id="txt_park" class="value-field">1.0</span></td>
	</tr>
	<tr>
		<td><span>Peaje</span></td>
		<td><span> &#36; </span><span id="txt_tolls" class="value-field">39.2</span></td>
	</tr>
	<tr>
		<td><span>Multas</span></td>
		<td><span> &#36; </span><span id="txt_fines" class="value-field">2.3</span></td>
	</tr>
	<tr>
		<td><span>Lavado</span></td>
		<td><span> &#36; </span><span id="txt_wash" class="value-field">6.9</span></td>
	</tr>
	<tr class="tr-result">
		<td><span>TOTAL<br>Gastos de explotación</span></td>
		<td><span> &#36; </span><span id="txt_running_costs" class="value-field">315</span></td>
	</tr>
	<tr>
		<td colspan="2"></td>
	</tr>
	<tr class="main_total">
		<td><span>TOTAL</span></td>
		<td><span> &#36; </span><span id="txt_total_overal" class="value-field">428</span></td>
	</tr>
	<tr>
		<td><span>Gastos de explotación por kilómetro</span></td>
		<td><span> &#36;</span><span id="txt_running_costs_dist" class="value-field">0.13</span><span>/km</span></td>
	</tr>
	<tr>
		<td><span>Costo total por kilómetro</span></td>
		<td><span> &#36;</span><span id="txt_total_costs_p_unit" class="value-field">0.18</span><span>/km</span></td>
	</tr>
	<tr>
		<td><span>Velocidad cinética</span></td>
		<td><span id="txt_kinetic_speed" class="value-field"></span>38<span> km/h</span></td>
	</tr>
	<tr>
		<td><span>
			<a target="_blank" href="http://en.wikipedia.org/wiki/Effects_of_the_car_on_societies#Kinetic_speed_vs._consumer_speed">
				Velocidad de consumidor
			</a></span></td>
		<td><span id="txt_virtual_speed" class="value-field">22</span><span> km/h</span></td>
	</tr>
	<tr>
		<td id="table-td-bottom-left"><span>Gasto anual total por el automóvil</span></td>
		<td id="table-td-bottom-right">&#36; <span id="txt_total_costs_year" class="value-field">5100</span></td>
	</tr>
</table>
<div id="tbl_statistics_footer">
</div>
