<table id="tbl_statistics">
	<tr class="tr-title">
		<td id="td-top-title" colspan="2" class="center td-title">
			<b><span>Automobile kustannukset</span><span class="stat_title"> Suomessa</span></b><br>
			<span>Keskimääräinen kuukausittainen kustannus per tyyppi</span>
		</td>
	</tr>
		<tr class="tr-sub-title">
		<td colspan="2" class="center"><span>Seisontakulut</span></td>
	</tr>
	<tr>
		<td style="width:50%"><span>Arvonalennus</span></td>
		<td style="width:25%"><span> &euro; </span><span id="txt_depr" class="value-field">90.5</span></td>
	</tr>
	<tr>
		<td><span>Vakuutus</span></td>
		<td><span> &euro; </span><span id="txt_ins" class="value-field">66.2</span></td>
	</tr>
	<tr>
		<td><span>Lainan korot</span></td>
		<td><span> &euro; </span><span id="txt_cred" class="value-field">9.9</span></td>
	</tr>
	<tr>
		<td><span>Katsastus</span></td>
		<td><span> &euro; </span><span id="txt_insp" class="value-field">3.4</span></td>
	</tr>
	<tr>
		<td><span>Autovero</span></td>
		<td><span> &euro; </span><span id="txt_tax" class="value-field">28.1</span></td>
	</tr>
	<tr>
		<td><span>50% Huolto</span></td>
		<td><span> &euro; </span><span id="txt_maint1" class="value-field">39.5</span></td>
	</tr>
	<tr class="tr-result">
		<td><span>SUMMA<br>Seisontakulut</span></td>
		<td><span> &euro; </span><span id="txt_standing_costs" class="value-field">218</span></td>
	</tr>
	<tr class="tr-sub-title">
		<td colspan="2" class="center"><span>Käyttökulut</span></td>
	</tr>
	<tr>
		<td><span>Polttoaine</span></td>
		<td><span> &euro; </span><span id="txt_fuel" class="value-field">146.1</span></td>
	</tr>
	<tr>
		<td><span>50% Huolto</span></td>
		<td><span> &euro; </span><span id="txt_maint2" class="value-field">39.5</span></td>
	</tr>
	<tr>
		<td><span>Korjaus</span></td>
		<td><span> &euro; </span><span id="txt_rep" class="value-field">18.1</span></td>
	</tr>
	<tr>
		<td><span>Pysäköinti</span></td>
		<td><span> &euro; </span><span id="txt_park" class="value-field">14.8</span></td>
	</tr>
	<tr>
		<td><span>Tiemaksut</span></td>
		<td><span> &euro; </span><span id="txt_tolls" class="value-field">2.2</span></td>
	</tr>
	<tr>
		<td><span>Liikennesakot</span></td>
		<td><span> &euro; </span><span id="txt_fines" class="value-field">2.4</span></td>
	</tr>
	<tr>
		<td><span>Pesu</span></td>
		<td><span> &euro; </span><span id="txt_wash" class="value-field">8.9</span></td>
	</tr>
	<tr class="tr-result">
		<td><span>SUMMA<br>Käyttökulut</span></td>
		<td><span> &euro; </span><span id="txt_running_costs" class="value-field">212</span></td>
	</tr>
	<tr>
		<td colspan="2"></td>
	</tr>
	<tr class="main_total">
		<td><span>SUMMA</span></td>
		<td><span> &euro; </span><span id="txt_total_overal" class="value-field">430</span></td>
	</tr>
	<tr>
		<td><span>Käyttökulut per kilometri</span></td>
		<td><span> &euro;</span><span id="txt_running_costs_dist" class="value-field">0.16</span><span>/km</span></td>
	</tr>
	<tr>
		<td><span>Kokonaiskulut per kilometri</span></td>
		<td><span> &euro;</span><span id="txt_total_costs_p_unit" class="value-field">0.33</span><span>/km</span></td>
	</tr>
	<tr>
		<td><span>Kineettinen nopeus</span></td>
		<td><span id="txt_kinetic_speed" class="value-field"></span>56<span> km/h</span></td>
	</tr>
	<tr>
		<td><span>
			<a target="_blank" href="http://en.wikipedia.org/wiki/Effects_of_the_car_on_societies#Kinetic_speed_vs._consumer_speed">
				Virtuaalinopeus
			</a></span></td>
		<td><span id="txt_virtual_speed" class="value-field">24</span><span> km/h</span></td>
	</tr>
	<tr>
		<td id="table-td-bottom-left"><span>Autosi vuosittainen kokonaiskustannus</span></td>
		<td id="table-td-bottom-right">&euro; <span id="txt_total_costs_year" class="value-field">5200</span></td>
	</tr>
</table>
<div id="tbl_statistics_footer">
</div>
