<table id="tbl_statistics">
	<tr class="tr-title">
		<td id="td-top-title" colspan="2" class="center td-title">
			<b><span>Δαπάνες αυτοκινήτων για την</span><span class="stat_title"> Ελλάδα</span></b><br>
			<span>Μέσο μηνιαίο κόστος ανά τύπο</span>
		</td>
	</tr>
		<tr class="tr-sub-title">
		<td colspan="2" class="center"><span>Πάγια έξοδα</span></td>
	</tr>
	<tr>
		<td style="width:50%"><span>Απόσβεση</span></td>
		<td style="width:25%"><span> &euro; </span><span id="txt_depr" class="value-field">73.8</span></td>
	</tr>
	<tr>
		<td><span>Ασφάλιση</span></td>
		<td><span> &euro; </span><span id="txt_ins" class="value-field">33.8</span></td>
	</tr>
	<tr>
		<td><span>Επιτόκιο δανείου</span></td>
		<td><span> &euro; </span><span id="txt_cred" class="value-field">3.5</span></td>
	</tr>
	<tr>
		<td><span>ΚΤΕΟ</span></td>
		<td><span> &euro; </span><span id="txt_insp" class="value-field">2.4</span></td>
	</tr>
	<tr>
		<td><span>Φόρος οχήματος</span></td>
		<td><span> &euro; </span><span id="txt_tax" class="value-field">23.1</span></td>
	</tr>
	<tr>
		<td><span>50% Συντήρηση</span></td>
		<td><span> &euro; </span><span id="txt_maint1" class="value-field">23.0</span></td>
	</tr>
	<tr class="tr-result">
		<td><span>ΣΥΝΟΛΟ<br>Πάγια έξοδα</span></td>
		<td><span> &euro; </span><span id="txt_standing_costs" class="value-field">148</span></td>
	</tr>
	<tr class="tr-sub-title">
		<td colspan="2" class="center"><span>Λειτουργικά έξοδα</span></td>
	</tr>
	<tr>
		<td><span>Καύσιμα</span></td>
		<td><span> &euro; </span><span id="txt_fuel" class="value-field">139.0</span></td>
	</tr>
	<tr>
		<td><span>50% Συντήρηση</span></td>
		<td><span> &euro; </span><span id="txt_maint2" class="value-field">23.0</span></td>
	</tr>
	<tr>
		<td><span>Επισκευές</span></td>
		<td><span> &euro; </span><span id="txt_rep" class="value-field">12.4</span></td>
	</tr>
	<tr>
		<td><span>Στάθμευση</span></td>
		<td><span> &euro; </span><span id="txt_park" class="value-field">9.3</span></td>
	</tr>
	<tr>
		<td><span>Διόδια</span></td>
		<td><span> &euro; </span><span id="txt_tolls" class="value-field">13.9</span></td>
	</tr>
	<tr>
		<td><span>Κλήσεις Τροχαίας</span></td>
		<td><span> &euro; </span><span id="txt_fines" class="value-field">1.6</span></td>
	</tr>
	<tr>
		<td><span>Пλύσιμο</span></td>
		<td><span> &euro; </span><span id="txt_wash" class="value-field">6.7</span></td>
	</tr>
	<tr class="tr-result">
		<td><span>ΣΥΝΟΛΟ<br>Λειτουργικά έξοδα</span></td>
		<td><span> &euro; </span><span id="txt_running_costs" class="value-field">194</span></td>
	</tr>
	<tr>
		<td colspan="2"></td>
	</tr>
	<tr class="main_total">
		<td><span>ΣΥΝΟΛΟ</span></td>
		<td><span> &euro; </span><span id="txt_total_overal" class="value-field">342</span></td>
	</tr>
	<tr>
		<td><span>Λειτουργικά έξοδα ανά χιλιόμετρο</span></td>
		<td><span> &euro;</span><span id="txt_running_costs_dist" class="value-field">0.22</span><span>/χλμ</span></td>
	</tr>
	<tr>
		<td><span>Συνολικά έξοδα ανά χιλιόμετρο</span></td>
		<td><span> &euro;</span><span id="txt_total_costs_p_unit" class="value-field">0.38</span><span>/χλμ</span></td>
	</tr>
	<tr>
		<td><span>Tαχύτητα κίνησης</span></td>
		<td><span id="txt_kinetic_speed" class="value-field"></span>38<span> χλμ/h</span></td>
	</tr>
	<tr>
		<td><span>
			<a target="_blank" href="http://en.wikipedia.org/wiki/Effects_of_the_car_on_societies#Kinetic_speed_vs._consumer_speed">
				Eικονική ταχύτητα
			</a></span></td>
		<td><span id="txt_virtual_speed" class="value-field">13</span><span> χλμ/h</span></td>
	</tr>
	<tr>
		<td id="table-td-bottom-left"><span>Συνόλικό ετήσιο κόστος του οχήματος</span></td>
		<td id="table-td-bottom-right">&euro; <span id="txt_total_costs_year" class="value-field">4100</span></td>
	</tr>
</table>
<div id="tbl_statistics_footer">
</div>
