<table id="tbl_statistics">
	<tr class="tr-title">
		<td id="td-top-title" colspan="2" class="center td-title">
			<b><span>गाड़ी पर होनेवाले विभिन्न खर्च</span><span class="stat_title"> India</span></b><br>
			<span>औसत मासिक खर्च प्रति प्रकार</span>
		</td>
	</tr>
		<tr class="tr-sub-title">
		<td colspan="2" class="center"><span>स्थिर खर्च</span></td>
	</tr>
	<tr>
		<td style="width:50%"><span>मूल्य-ह्रास</span></td>
		<td style="width:25%"><span> &#8377; </span><span id="txt_depr" class="value-field">0.0</span></td>
	</tr>
	<tr>
		<td><span>बीमा</span></td>
		<td><span> &#8377; </span><span id="txt_ins" class="value-field">0.0</span></td>
	</tr>
	<tr>
		<td><span>क़र्ज़ का ब्याज</span></td>
		<td><span> &#8377; </span><span id="txt_cred" class="value-field">0.0</span></td>
	</tr>
	<tr>
		<td><span>मुआइना</span></td>
		<td><span> &#8377; </span><span id="txt_insp" class="value-field">0.0</span></td>
	</tr>
	<tr>
		<td><span>गाड़ी से जुड़े टैक्स</span></td>
		<td><span> &#8377; </span><span id="txt_tax" class="value-field">0.0</span></td>
	</tr>
	<tr>
		<td><span>50% देखभाल</span></td>
		<td><span> &#8377; </span><span id="txt_maint1" class="value-field">0.0</span></td>
	</tr>
	<tr class="tr-result">
		<td><span>कुल <br>स्थिर खर्च</span></td>
		<td><span> &#8377; </span><span id="txt_standing_costs" class="value-field">0</span></td>
	</tr>
	<tr class="tr-sub-title">
		<td colspan="2" class="center"><span>चालू लागत</span></td>
	</tr>
	<tr>
		<td><span>ईंधन</span></td>
		<td><span> &#8377; </span><span id="txt_fuel" class="value-field">0.0</span></td>
	</tr>
	<tr>
		<td><span>50% देखभाल</span></td>
		<td><span> &#8377; </span><span id="txt_maint2" class="value-field">0.0</span></td>
	</tr>
	<tr>
		<td><span>मरम्मत</span></td>
		<td><span> &#8377; </span><span id="txt_rep" class="value-field">0.0</span></td>
	</tr>
	<tr>
		<td><span>पार्किंग</span></td>
		<td><span> &#8377; </span><span id="txt_park" class="value-field">0.0</span></td>
	</tr>
	<tr>
		<td><span>टॉल</span></td>
		<td><span> &#8377; </span><span id="txt_tolls" class="value-field">0.0</span></td>
	</tr>
	<tr>
		<td><span>ट्रैफिक से संबंधित जुर्माने</span></td>
		<td><span> &#8377; </span><span id="txt_fines" class="value-field">0.0</span></td>
	</tr>
	<tr>
		<td><span>धुलाई</span></td>
		<td><span> &#8377; </span><span id="txt_wash" class="value-field">0.0</span></td>
	</tr>
	<tr class="tr-result">
		<td><span>कुल <br>चालू लागत</span></td>
		<td><span> &#8377; </span><span id="txt_running_costs" class="value-field">0</span></td>
	</tr>
	<tr>
		<td colspan="2"></td>
	</tr>
	<tr class="main_total">
		<td><span>कुल </span></td>
		<td><span> &#8377; </span><span id="txt_total_overal" class="value-field">0</span></td>
	</tr>
	<tr>
		<td><span>चालू लागत प्रति किलोमीटर</span></td>
		<td><span> &#8377;</span><span id="txt_running_costs_dist" class="value-field">0.00</span><span>/km</span></td>
	</tr>
	<tr>
		<td><span>कुल लागत प्रति किलोमीटर</span></td>
		<td><span> &#8377;</span><span id="txt_total_costs_p_unit" class="value-field">0.00</span><span>/km</span></td>
	</tr>
	<tr>
		<td><span>काइनेटिक गति</span></td>
		<td><span id="txt_kinetic_speed" class="value-field"></span>0<span> km/h</span></td>
	</tr>
	<tr>
		<td><span>
			<a target="_blank" href="http://en.wikipedia.org/wiki/Effects_of_the_car_on_societies#Kinetic_speed_vs._consumer_speed">
				उपभोक्ता कि गति
			</a></span></td>
		<td><span id="txt_virtual_speed" class="value-field">0</span><span> km/h</span></td>
	</tr>
	<tr>
		<td id="table-td-bottom-left"><span>गाड़ी के लिए प्रति वर्ष कि कुल लागत</span></td>
		<td id="table-td-bottom-right">&#8377; <span id="txt_total_costs_year" class="value-field">0</span></td>
	</tr>
</table>
<div id="tbl_statistics_footer">
</div>
