<table id="tbl_statistics">
	<tr class="tr-title">
		<td id="td-top-title" colspan="2" class="center td-title">
			<b><span>Costi automobili per</span><span class="stat_title"> Italia</span></b><br>
			<span>Il costo medio mensile per tipo</span>
		</td>
	</tr>
		<tr class="tr-sub-title">
		<td colspan="2" class="center"><span>Costi fissi</span></td>
	</tr>
	<tr>
		<td style="width:50%"><span>Ammortamento</span></td>
		<td style="width:25%"><span> &euro; </span><span id="txt_depr" class="value-field">106.6</span></td>
	</tr>
	<tr>
		<td><span>Assicurazione</span></td>
		<td><span> &euro; </span><span id="txt_ins" class="value-field">61.2</span></td>
	</tr>
	<tr>
		<td><span>Tasso di interesse del prestito</span></td>
		<td><span> &euro; </span><span id="txt_cred" class="value-field">6.4</span></td>
	</tr>
	<tr>
		<td><span>Ispezione</span></td>
		<td><span> &euro; </span><span id="txt_insp" class="value-field">4.9</span></td>
	</tr>
	<tr>
		<td><span>Bollo auto</span></td>
		<td><span> &euro; </span><span id="txt_tax" class="value-field">19.5</span></td>
	</tr>
	<tr>
		<td><span>50% Manutenzione</span></td>
		<td><span> &euro; </span><span id="txt_maint1" class="value-field">31.0</span></td>
	</tr>
	<tr class="tr-result">
		<td><span>TOTALE<br>Costi fissi</span></td>
		<td><span> &euro; </span><span id="txt_standing_costs" class="value-field">214</span></td>
	</tr>
	<tr class="tr-sub-title">
		<td colspan="2" class="center"><span>Costi di funzionamento</span></td>
	</tr>
	<tr>
		<td><span>Carburante</span></td>
		<td><span> &euro; </span><span id="txt_fuel" class="value-field">142.4</span></td>
	</tr>
	<tr>
		<td><span>50% Manutenzione</span></td>
		<td><span> &euro; </span><span id="txt_maint2" class="value-field">31.0</span></td>
	</tr>
	<tr>
		<td><span>Riparazione</span></td>
		<td><span> &euro; </span><span id="txt_rep" class="value-field">14.2</span></td>
	</tr>
	<tr>
		<td><span>Parcheggio</span></td>
		<td><span> &euro; </span><span id="txt_park" class="value-field">11.2</span></td>
	</tr>
	<tr>
		<td><span>Pedaggi</span></td>
		<td><span> &euro; </span><span id="txt_tolls" class="value-field">21.4</span></td>
	</tr>
	<tr>
		<td><span>Multe</span></td>
		<td><span> &euro; </span><span id="txt_fines" class="value-field">4.1</span></td>
	</tr>
	<tr>
		<td><span>Lavaggio</span></td>
		<td><span> &euro; </span><span id="txt_wash" class="value-field">6.2</span></td>
	</tr>
	<tr class="tr-result">
		<td><span>TOTALE<br>Costi di funzionamento</span></td>
		<td><span> &euro; </span><span id="txt_running_costs" class="value-field">215</span></td>
	</tr>
	<tr>
		<td colspan="2"></td>
	</tr>
	<tr class="main_total">
		<td><span>TOTALE</span></td>
		<td><span> &euro; </span><span id="txt_total_overal" class="value-field">429</span></td>
	</tr>
	<tr>
		<td><span>Costi di funzionamento per chilometro</span></td>
		<td><span> &euro;</span><span id="txt_running_costs_dist" class="value-field">0.15</span><span>/km</span></td>
	</tr>
	<tr>
		<td><span>Costo totale per chilometro</span></td>
		<td><span> &euro;</span><span id="txt_total_costs_p_unit" class="value-field">0.31</span><span>/km</span></td>
	</tr>
	<tr>
		<td><span>Velocità cinetica</span></td>
		<td><span id="txt_kinetic_speed" class="value-field"></span>52<span> km/h</span></td>
	</tr>
	<tr>
		<td><span>
			<a target="_blank" href="http://en.wikipedia.org/wiki/Effects_of_the_car_on_societies#Kinetic_speed_vs._consumer_speed">
				Velocità virtuale
			</a></span></td>
		<td><span id="txt_virtual_speed" class="value-field">20</span><span> km/h</span></td>
	</tr>
	<tr>
		<td id="table-td-bottom-left"><span>Costi totali per anno per automobile</span></td>
		<td id="table-td-bottom-right">&euro; <span id="txt_total_costs_year" class="value-field">5100</span></td>
	</tr>
</table>
<div id="tbl_statistics_footer">
</div>
