<table id="tbl_statistics">
	<tr class="tr-title">
		<td id="td-top-title" colspan="2" class="center td-title">
			<b><span>Автомобильные затраты для</span><span class="stat_title"> России</span></b><br>
			<span>Среднемесячная стоимость типа</span>
		</td>
	</tr>
		<tr class="tr-sub-title">
		<td colspan="2" class="center"><span>Постоянные расходы</span></td>
	</tr>
	<tr>
		<td style="width:50%"><span>Амортизация</span></td>
		<td style="width:25%"><span> &#x20bd; </span><span id="txt_depr" class="value-field">3717.2</span></td>
	</tr>
	<tr>
		<td><span>Страхование</span></td>
		<td><span> &#x20bd; </span><span id="txt_ins" class="value-field">2725.3</span></td>
	</tr>
	<tr>
		<td><span>Проценты за кредит</span></td>
		<td><span> &#x20bd; </span><span id="txt_cred" class="value-field">590.4</span></td>
	</tr>
	<tr>
		<td><span>Техосмотр</span></td>
		<td><span> &#x20bd; </span><span id="txt_insp" class="value-field">197.4</span></td>
	</tr>
	<tr>
		<td><span>Налог</span></td>
		<td><span> &#x20bd; </span><span id="txt_tax" class="value-field">641.8</span></td>
	</tr>
	<tr>
		<td><span>50% Техническое обслуживание</span></td>
		<td><span> &#x20bd; </span><span id="txt_maint1" class="value-field">1724.3</span></td>
	</tr>
	<tr class="tr-result">
		<td><span>ИТОГО<br>Постоянные расходы</span></td>
		<td><span> &#x20bd; </span><span id="txt_standing_costs" class="value-field">8734</span></td>
	</tr>
	<tr class="tr-sub-title">
		<td colspan="2" class="center"><span>Эксплуатационные расходы</span></td>
	</tr>
	<tr>
		<td><span>Tопливo</span></td>
		<td><span> &#x20bd; </span><span id="txt_fuel" class="value-field">6430.3</span></td>
	</tr>
	<tr>
		<td><span>50% Техническое обслуживание</span></td>
		<td><span> &#x20bd; </span><span id="txt_maint2" class="value-field">1724.3</span></td>
	</tr>
	<tr>
		<td><span>Ремонт</span></td>
		<td><span> &#x20bd; </span><span id="txt_rep" class="value-field">1065.7</span></td>
	</tr>
	<tr>
		<td><span>Стоянка</span></td>
		<td><span> &#x20bd; </span><span id="txt_park" class="value-field">859.7</span></td>
	</tr>
	<tr>
		<td><span>Плата за проезд</span></td>
		<td><span> &#x20bd; </span><span id="txt_tolls" class="value-field">77.7</span></td>
	</tr>
	<tr>
		<td><span>Штрафы за нарушение ПДД</span></td>
		<td><span> &#x20bd; </span><span id="txt_fines" class="value-field">248.5</span></td>
	</tr>
	<tr>
		<td><span>Мойка</span></td>
		<td><span> &#x20bd; </span><span id="txt_wash" class="value-field">525.5</span></td>
	</tr>
	<tr class="tr-result">
		<td><span>ИТОГО<br>Эксплуатационные расходы</span></td>
		<td><span> &#x20bd; </span><span id="txt_running_costs" class="value-field">10070</span></td>
	</tr>
	<tr>
		<td colspan="2"></td>
	</tr>
	<tr class="main_total">
		<td><span>ИТОГО</span></td>
		<td><span> &#x20bd; </span><span id="txt_total_overal" class="value-field">18804</span></td>
	</tr>
	<tr>
		<td><span>Эксплуатационные расходы на 1 км</span></td>
		<td><span> &#x20bd;</span><span id="txt_running_costs_dist" class="value-field">6.63</span><span>/км</span></td>
	</tr>
	<tr>
		<td><span>Итого расходы на 1 км</span></td>
		<td><span> &#x20bd;</span><span id="txt_total_costs_p_unit" class="value-field">12.37</span><span>/км</span></td>
	</tr>
	<tr>
		<td><span>Кинетическая скорость</span></td>
		<td><span id="txt_kinetic_speed" class="value-field"></span>36<span> км/h</span></td>
	</tr>
	<tr>
		<td><span>
			<a target="_blank" href="http://en.wikipedia.org/wiki/Effects_of_the_car_on_societies#Kinetic_speed_vs._consumer_speed">
				Виртуальная скорость
			</a></span></td>
		<td><span id="txt_virtual_speed" class="value-field">16</span><span> км/h</span></td>
	</tr>
	<tr>
		<td id="table-td-bottom-left"><span>Сумма расходов в год на автомобиль</span></td>
		<td id="table-td-bottom-right">&#x20bd; <span id="txt_total_costs_year" class="value-field">225600</span></td>
	</tr>
</table>
<div id="tbl_statistics_footer">
</div>
