<table id="tbl_statistics">
	<tr class="tr-title">
		<td id="td-top-title" colspan="2" class="center td-title">
			<b><span>Türkiye</span><span class="stat_title"> otomobil maliyetleri</span></b><br>
			<span>Cinsine bağlı olan ortalama aylık maliyeti</span>
		</td>
	</tr>
		<tr class="tr-sub-title">
		<td colspan="2" class="center"><span>Sabit masraflar</span></td>
	</tr>
	<tr>
		<td style="width:50%"><span>Amortisman</span></td>
		<td style="width:25%"><span> &#8378; </span><span id="txt_depr" class="value-field">138.2</span></td>
	</tr>
	<tr>
		<td><span>Sigorta</span></td>
		<td><span> &#8378; </span><span id="txt_ins" class="value-field">119.4</span></td>
	</tr>
	<tr>
		<td><span>Kredi faizi</span></td>
		<td><span> &#8378; </span><span id="txt_cred" class="value-field">34.9</span></td>
	</tr>
	<tr>
		<td><span>Muayene</span></td>
		<td><span> &#8378; </span><span id="txt_insp" class="value-field">10.4</span></td>
	</tr>
	<tr>
		<td><span>Araba Vergisi</span></td>
		<td><span> &#8378; </span><span id="txt_tax" class="value-field">61.6</span></td>
	</tr>
	<tr>
		<td><span>50% Bakım </span></td>
		<td><span> &#8378; </span><span id="txt_maint1" class="value-field">63.5</span></td>
	</tr>
	<tr class="tr-result">
		<td><span>TOPLAM<br>Sabit masraflar</span></td>
		<td><span> &#8378; </span><span id="txt_standing_costs" class="value-field">396</span></td>
	</tr>
	<tr class="tr-sub-title">
		<td colspan="2" class="center"><span>Kullanım masrafları</span></td>
	</tr>
	<tr>
		<td><span>Yakıt</span></td>
		<td><span> &#8378; </span><span id="txt_fuel" class="value-field">336.1</span></td>
	</tr>
	<tr>
		<td><span>50% Bakım </span></td>
		<td><span> &#8378; </span><span id="txt_maint2" class="value-field">63.5</span></td>
	</tr>
	<tr>
		<td><span>Tamirat</span></td>
		<td><span> &#8378; </span><span id="txt_rep" class="value-field">33.3</span></td>
	</tr>
	<tr>
		<td><span>Park etme</span></td>
		<td><span> &#8378; </span><span id="txt_park" class="value-field">59.4</span></td>
	</tr>
	<tr>
		<td><span>Geçiş ücretleri</span></td>
		<td><span> &#8378; </span><span id="txt_tolls" class="value-field">17.8</span></td>
	</tr>
	<tr>
		<td><span>Trafik cezaları</span></td>
		<td><span> &#8378; </span><span id="txt_fines" class="value-field">15.8</span></td>
	</tr>
	<tr>
		<td><span>Yıkama</span></td>
		<td><span> &#8378; </span><span id="txt_wash" class="value-field">23.7</span></td>
	</tr>
	<tr class="tr-result">
		<td><span>TOPLAM<br>Kullanım masrafları</span></td>
		<td><span> &#8378; </span><span id="txt_running_costs" class="value-field">518</span></td>
	</tr>
	<tr>
		<td colspan="2"></td>
	</tr>
	<tr class="main_total">
		<td><span>TOPLAM</span></td>
		<td><span> &#8378; </span><span id="txt_total_overal" class="value-field">914</span></td>
	</tr>
	<tr>
		<td><span>Kilometre başına kullanım masrafı</span></td>
		<td><span> &#8378;</span><span id="txt_running_costs_dist" class="value-field">0.57</span><span>/km</span></td>
	</tr>
	<tr>
		<td><span>Kilometre başına toplam masraf</span></td>
		<td><span> &#8378;</span><span id="txt_total_costs_p_unit" class="value-field">1.01</span><span>/km</span></td>
	</tr>
	<tr>
		<td><span>Kinetik hız</span></td>
		<td><span id="txt_kinetic_speed" class="value-field"></span>39<span> km/h</span></td>
	</tr>
	<tr>
		<td><span>
			<a target="_blank" href="http://en.wikipedia.org/wiki/Effects_of_the_car_on_societies#Kinetic_speed_vs._consumer_speed">
				Fiili hız
			</a></span></td>
		<td><span id="txt_virtual_speed" class="value-field">14</span><span> km/h</span></td>
	</tr>
	<tr>
		<td id="table-td-bottom-left"><span>Otomobilin yıllık toplam masrafı</span></td>
		<td id="table-td-bottom-right">&#8378; <span id="txt_total_costs_year" class="value-field">11000</span></td>
	</tr>
</table>
<div id="tbl_statistics_footer">
</div>
