<table id="tbl_statistics">
	<tr class="tr-title">
		<td id="td-top-title" colspan="2" class="center td-title">
			<b><span>Автомобільні витрати для</span><span class="stat_title"> України</span></b><br>
			<span>Середньомісячна вартість типу</span>
		</td>
	</tr>
		<tr class="tr-sub-title">
		<td colspan="2" class="center"><span>Постійні витрати</span></td>
	</tr>
	<tr>
		<td style="width:50%"><span>Амортизація</span></td>
		<td style="width:25%"><span> ₴ </span><span id="txt_depr" class="value-field">296.4</span></td>
	</tr>
	<tr>
		<td><span>Страхування</span></td>
		<td><span> ₴ </span><span id="txt_ins" class="value-field">250.0</span></td>
	</tr>
	<tr>
		<td><span>Відсотки за кредитом</span></td>
		<td><span> ₴ </span><span id="txt_cred" class="value-field">0.0</span></td>
	</tr>
	<tr>
		<td><span>Техогляд</span></td>
		<td><span> ₴ </span><span id="txt_insp" class="value-field">36.2</span></td>
	</tr>
	<tr>
		<td><span>Податок на автомобіль</span></td>
		<td><span> ₴ </span><span id="txt_tax" class="value-field">83.3</span></td>
	</tr>
	<tr>
		<td><span>50% Технічне обслуговування</span></td>
		<td><span> ₴ </span><span id="txt_maint1" class="value-field">500.0</span></td>
	</tr>
	<tr class="tr-result">
		<td><span>РАЗОМ<br>Постійні витрати</span></td>
		<td><span> ₴ </span><span id="txt_standing_costs" class="value-field">916</span></td>
	</tr>
	<tr class="tr-sub-title">
		<td colspan="2" class="center"><span>Експлуатаційні витрати</span></td>
	</tr>
	<tr>
		<td><span>Пальне</span></td>
		<td><span> ₴ </span><span id="txt_fuel" class="value-field">2500.0</span></td>
	</tr>
	<tr>
		<td><span>50% Технічне обслуговування</span></td>
		<td><span> ₴ </span><span id="txt_maint2" class="value-field">500.0</span></td>
	</tr>
	<tr>
		<td><span>Ремонт</span></td>
		<td><span> ₴ </span><span id="txt_rep" class="value-field">625.0</span></td>
	</tr>
	<tr>
		<td><span>Стоянка</span></td>
		<td><span> ₴ </span><span id="txt_park" class="value-field">550.0</span></td>
	</tr>
	<tr>
		<td><span>Плата за проїзд</span></td>
		<td><span> ₴ </span><span id="txt_tolls" class="value-field">41.7</span></td>
	</tr>
	<tr>
		<td><span>Штрафи за порушення ПДР</span></td>
		<td><span> ₴ </span><span id="txt_fines" class="value-field">29.2</span></td>
	</tr>
	<tr>
		<td><span>Мийка</span></td>
		<td><span> ₴ </span><span id="txt_wash" class="value-field">100.0</span></td>
	</tr>
	<tr class="tr-result">
		<td><span>РАЗОМ<br>Експлуатаційні витрати</span></td>
		<td><span> ₴ </span><span id="txt_running_costs" class="value-field">4096</span></td>
	</tr>
	<tr>
		<td colspan="2"></td>
	</tr>
	<tr class="main_total">
		<td><span>РАЗОМ</span></td>
		<td><span> ₴ </span><span id="txt_total_overal" class="value-field">5012</span></td>
	</tr>
	<tr>
		<td><span>Експлуатаційні витрати на кілометр</span></td>
		<td><span> ₴</span><span id="txt_running_costs_dist" class="value-field">18.20</span><span>/км</span></td>
	</tr>
	<tr>
		<td><span>Усього витрат на кілометр</span></td>
		<td><span> ₴</span><span id="txt_total_costs_p_unit" class="value-field">22.27</span><span>/км</span></td>
	</tr>
	<tr>
		<td><span>Кінетична швидкість</span></td>
		<td><span id="txt_kinetic_speed" class="value-field"></span>7<span> км/h</span></td>
	</tr>
	<tr>
		<td><span>
			<a target="_blank" href="http://en.wikipedia.org/wiki/Effects_of_the_car_on_societies#Kinetic_speed_vs._consumer_speed">
				Віртуальна швидкість
			</a></span></td>
		<td><span id="txt_virtual_speed" class="value-field">3</span><span> км/h</span></td>
	</tr>
	<tr>
		<td id="table-td-bottom-left"><span>Сума витрат на автомобіль у рік</span></td>
		<td id="table-td-bottom-right">₴ <span id="txt_total_costs_year" class="value-field">60100</span></td>
	</tr>
</table>
<div id="tbl_statistics_footer">
</div>
