<table id="tbl_statistics">
	<tr class="tr-title">
		<td id="td-top-title" colspan="2" class="center td-title">
			<b><span>Automobile costs for</span><span class="stat_title"> United States</span></b><br>
			<span>Average monthly cost per type</span>
		</td>
	</tr>
		<tr class="tr-sub-title">
		<td colspan="2" class="center"><span>Standing costs</span></td>
	</tr>
	<tr>
		<td style="width:50%"><span>Depreciation</span></td>
		<td style="width:25%"><span> &#36; </span><span id="txt_depr" class="value-field">118.4</span></td>
	</tr>
	<tr>
		<td><span>Insurance</span></td>
		<td><span> &#36; </span><span id="txt_ins" class="value-field">89.4</span></td>
	</tr>
	<tr>
		<td><span>Loan interest</span></td>
		<td><span> &#36; </span><span id="txt_cred" class="value-field">9.8</span></td>
	</tr>
	<tr>
		<td><span>Inspection</span></td>
		<td><span> &#36; </span><span id="txt_insp" class="value-field">6.1</span></td>
	</tr>
	<tr>
		<td><span>Car Tax</span></td>
		<td><span> &#36; </span><span id="txt_tax" class="value-field">18.0</span></td>
	</tr>
	<tr>
		<td><span>50% Maintenance</span></td>
		<td><span> &#36; </span><span id="txt_maint1" class="value-field">36.9</span></td>
	</tr>
	<tr class="tr-result">
		<td><span>TOTAL<br>Standing costs</span></td>
		<td><span> &#36; </span><span id="txt_standing_costs" class="value-field">260</span></td>
	</tr>
	<tr class="tr-sub-title">
		<td colspan="2" class="center"><span>Running costs</span></td>
	</tr>
	<tr>
		<td><span>Fuel</span></td>
		<td><span> &#36; </span><span id="txt_fuel" class="value-field">158.9</span></td>
	</tr>
	<tr>
		<td><span>50% Maintenance</span></td>
		<td><span> &#36; </span><span id="txt_maint2" class="value-field">36.9</span></td>
	</tr>
	<tr>
		<td><span>Repairs</span></td>
		<td><span> &#36; </span><span id="txt_rep" class="value-field">18.0</span></td>
	</tr>
	<tr>
		<td><span>Parking</span></td>
		<td><span> &#36; </span><span id="txt_park" class="value-field">21.6</span></td>
	</tr>
	<tr>
		<td><span>Tolls</span></td>
		<td><span> &#36; </span><span id="txt_tolls" class="value-field">16.5</span></td>
	</tr>
	<tr>
		<td><span>Traffic fines</span></td>
		<td><span> &#36; </span><span id="txt_fines" class="value-field">3.2</span></td>
	</tr>
	<tr>
		<td><span>Washing</span></td>
		<td><span> &#36; </span><span id="txt_wash" class="value-field">9.2</span></td>
	</tr>
	<tr class="tr-result">
		<td><span>TOTAL<br>Running costs</span></td>
		<td><span> &#36; </span><span id="txt_running_costs" class="value-field">246</span></td>
	</tr>
	<tr>
		<td colspan="2"></td>
	</tr>
	<tr class="main_total">
		<td><span>TOTAL</span></td>
		<td><span> &#36; </span><span id="txt_total_overal" class="value-field">506</span></td>
	</tr>
	<tr>
		<td><span>Running costs per kilometre</span></td>
		<td><span> &#36;</span><span id="txt_running_costs_dist" class="value-field">0.29</span><span>/mi</span></td>
	</tr>
	<tr>
		<td><span>Total costs per kilometre</span></td>
		<td><span> &#36;</span><span id="txt_total_costs_p_unit" class="value-field">0.61</span><span>/mi</span></td>
	</tr>
	<tr>
		<td><span>Kinetic speed</span></td>
		<td><span id="txt_kinetic_speed" class="value-field"></span>37<span> mi/h</span></td>
	</tr>
	<tr>
		<td><span>
			<a target="_blank" href="http://en.wikipedia.org/wiki/Effects_of_the_car_on_societies#Kinetic_speed_vs._consumer_speed">
				Consumer speed
			</a></span></td>
		<td><span id="txt_virtual_speed" class="value-field">16</span><span> mi/h</span></td>
	</tr>
	<tr>
		<td id="table-td-bottom-left"><span>Total costs per year for automobile</span></td>
		<td id="table-td-bottom-right">&#36; <span id="txt_total_costs_year" class="value-field">6100</span></td>
	</tr>
</table>
<div id="tbl_statistics_footer">
</div>
