body{
    background: none !important;
}

#loader_img{
    
    display:block;
    margin: auto; 
    width: 46px; 
    height: 46px;
    margin: 30px auto;
    margin-top: 50px;
}

#banner_top{
    position: static !important;
    border: none !important;
    box-shadow: none !important;
    background: none !important;
}

#main_title{
    line-height: 110%;
}
.button{
    padding: 15px 20px !important;
    font-weight: bold !important;
}
.step{
    font-size: 20px;
    font-weight: bold;
}

.result_section{
    margin: 0 !important;
    border: 0 !important;
    background: none !important;
}


* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

input[type=radio] {
    border: 0px !important;
    width: 15px !important;
    height: 15px !important;
}

.result_section_title{
    text-decoration: underline;
    font-weight: bold;
    margin: 20px 40px 15px 40px;
}

.result_div {
    margin: 0 !important;
}

@media all and (max-width: 1024px) {
    
    #div3_td, #div1_td {
        width:25%;
    }
    #div2_td{
        width: 95%;
    }
    #input_div .col {
        width: 100%;
    }
    #country_box input[type="text"] {
        width: 80%;
    }
    #div13, 
    #div3a {
        margin: 2%;
    }
    #description {
        margin-top: 4em;
    }
}
/*===============================*/
@media all and (max-width: 820px) {
    #div1,
    #div3 {
        font-size:70%;
    }
}


/*************************************************************************************************/
/*================================ Adapts for mobile devices ====================================*/
/*************************************************************************************************/

/*The treshold from which the blocks are vertically aligned*/
@media all and (max-width: 768px) {
    
    #container_table{
        display: block;
    }
    
    #main_div{
        padding: 2.5%;
    }
    #div3_td, #div1_td, #div2_td {
        display: block;
        vertical-align: middle;
        width: 100%;
    }
    #div2, #div3, #div1, .result_section {
        width: 100%;
        font-size:100%;
        margin: 2% 0;
    }
    #input_div {
        margin: 0 2% 2% 2%;
    }
    #input_div table td:nth-child(2n){
        width: 30%;
    }
    #div3a {
        font-size: 110%;
    }
    #banner_top,
    #header_main_title,
    #banner_flag,
    #country_select{
        display: inline;
    }
    #left_top_div{
        display: none;
    }
    #country_box,
    #country_box_inline{
        display: table;
    }
    #country_box_inline{
        margin: 0 auto;
    }
    #country_box {
        margin: auto;
        float: none;
        width: 200px;
    }
    #header_main_title {
        float: none;
        margin: 0 auto;
    }
    #main_title, h1 {
        font-size: 21px;
        margin: 4px auto;
    }
    .result_section_title {
        font-size: 15px;
        line-height: 22px;
    }
    #description {
        margin-top: 70px;
    }
}

@media all and (max-width: 500px) {
    .result_div {
        font-size: 115%;
        margin: 0 2%;
    }
    .result_table {
        margin: 6px auto;
    }
    
    #input_div table td:nth-child(2n){
        width: 35%;
    }
    
    #main_title, h1 {
        font-size: 18px;
        line-height: 18px;
    }
    #div3, #div1, #div2, .result_section {
        float: none;
        width: auto;
        margin: 20px 0 20px 0;
    }
    
    #input_div table td:nth-child(2n){
        width: 40%;
    }
    


}