<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width">
    
    <!-- <link rel="icon" type="image/png" href="/favicon.ico" /> -->
    
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Auto Costs" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="http://" />
    <meta property="og:site_name" content="Auto Costs" />
    <meta property="og:image" content="" />
    <meta property="og:image:secure_url" content="" />
    <meta property="og:locale" content="en_US" />
    
    <title>Auto Costs</title>    
    
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
    
    <link rel="shortcut icon" type="image/png" href="_assets/img/favicon.png"/>

    <link rel="stylesheet" media="screen" href="_assets/css/style.css" />     
    
    
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="_assets/js/jquery.sidebar.js"></script>
    <script src="http://jillix.github.io/jQuery-sidebar/js/handlers.js"></script>

</head>
<body class="home">

<main class="container">

    <div class="sidebars">
        <div class="sidebar left">
            <div class="sidebar-left-container">
                <a href="#" class="btn btn-danger close" data-action="close" data-side="left"><span></span></a>
                <h3>Info</h3>
                <p>This calculator will allow you to find <b>the true cost</b> of owning a car in <b>Canada</b>. It will normally give you a good estimate of what you really need to spend on car ownership. As car payments and expenses come due throughout the year, it's often difficult to really get a good understanding of total spending on your car.</p>

                <p>Be realistic on the values you input. For unexpected expenses, such as accident repairs or fines, think about how much you have spent on such items over the last few years. By default, these values are calculated on a monthly basis. Use the the dot symbol for decimal notation, for example 8.7 miles between home and the workplace.</p>

                <p>This calculator is <b>completely anonymous</b>, as it doesn't request nor permanently store, any name, email, cookies, IP address nor any other personal information.</p>

                <div class="sidebar-contact">
                    <h3>Contact us</h3>
                    <a href="mailto:info@autocosts.info">info@autocosts.info</a>
                </div>
            </div>
        </div>

        <div class="sidebar right">
            <div class="sidebar-right-container">
                <a href="#" class="btn btn-danger close" data-action="close" data-side="right"><span></span></a>
                <h3>Costs for <select name="country_select" id="country_select" onchange="onCountrySelect(this.value);">
                                <option value="AR">Argentina</option> 
                                <option value="AU">Australia</option> 
                                <option value="BO">Bolivia</option> 
                                <option value="BR">Brasil</option> 
                                <option value="CA" selected="">Canada</option> 
                                <option value="CL">Chile</option> 
                                <option value="CN">中国</option> 
                                <option value="CO">Colombia</option> 
                                <option value="CR">Costa Rica</option> 
                                <option value="CU">Cuba</option> 
                                <option value="CZ">Česká</option> 
                                <option value="DE">Deutschland</option> 
                                <option value="DK">Danmark</option> 
                                <option value="DO">Rep. Dominicana</option> 
                                <option value="EC">Ecuador</option> 
                                <option value="ES">España</option> 
                                <option value="FI">Suomessa</option> 
                                <option value="FR">France</option> 
                                <option value="GR">Ελλάδα</option> 
                                <option value="GT">Guatemala</option> 
                                <option value="HU">Magyarország</option> 
                                <option value="IE">Ireland</option> 
                                <option value="IN">India</option> 
                                <option value="IT">Italia</option> 
                                <option value="JP">日本</option> 
                                <option value="MX">México</option> 
                                <option value="NI">Nicaragua</option> 
                                <option value="NL">Nederland</option> 
                                <option value="NO">Norge</option> 
                                <option value="PA">Panamá</option> 
                                <option value="PE">Perú</option> 
                                <option value="PL">Polska</option> 
                                <option value="PR">Puerto Rico</option> 
                                <option value="PT">Portugal</option> 
                                <option value="PY">Paraguay</option> 
                                <option value="RO">România</option> 
                                <option value="RU">Россия</option> 
                                <option value="SE">Sverige</option> 
                                <option value="SV">El Salvador</option> 
                                <option value="TR">Türkiye</option> 
                                <option value="UA">Україна</option> 
                                <option value="UK">United Kingdom</option> 
                                <option value="US">USA</option> 
                                <option value="UY" >Uruguay</option> 
                                <option value="VE">Venezuela</option>  
                            </select>
                </h3>
                <h4>Monthly cost (average)</h4>
                <table>
                    <tr>
                        <th>Standing costs</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Depreciation</td>
                        <td>C$ 90.5</td>
                    </tr>
                    <tr>
                        <td>Insurance</td>
                        <td>C$ 54.2</td>
                    </tr>
                    <tr>
                        <td>Loan interest</td>
                        <td>C$ 0.0</td>
                    </tr>
                    <tr>
                        <td>Inspection</td>
                        <td>C$ 8.5</td>
                    </tr>
                    <tr>
                        <td>Car tax</td>
                        <td>C$ 46.5</td>
                    </tr>
                    <tr>
                        <td>50% maintenance</td>
                        <td>C$ 23.2</td>
                    </tr>    
                    <tr class="subtotal">
                        <td>Total standing costs</td>
                        <td>C$ 200</td>
                    </tr>     
                </table>
                <table>
                    <tr>
                        <th>Running costs</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Fuel</td>
                        <td>C$ 65.3</td>
                    </tr>
                    <tr>
                        <td>50% maintenance</td>
                        <td>C$ 46.5</td>
                    </tr>
                    <tr>
                        <td>Repair</td>
                        <td>C$ 13.2</td>
                    </tr>
                    <tr>
                        <td>Parking</td>
                        <td>C$ 28.7</td>
                    </tr>
                    <tr>
                        <td>Tolls</td>
                        <td>C$ 0.1</td>
                    </tr>
                    <tr>
                        <td>Traffic fines</td>
                        <td>C$ 0.7</td>
                    </tr>
                    <tr>
                        <td>Washing</td>
                        <td>C$ 2.6</td>
                    </tr>    
                    <tr class="subtotal">
                        <td>Total running costs</td>
                        <td>C$ 134</td>
                    </tr>     
                </table>
                <table class="total blue-bg">
                    <tr>
                        <th>Total monthly costs</th>
                        <th>C$ 334</th>
                    </tr>
                </table>


                <h4 class="yellow-bar">Year cost (average)</h4>
                <table>
                    <tr>
                        <td>Running cost per km</td>
                        <td>C$ 0.19</td>
                    </tr>
                    <tr>
                        <td>Total cost per km</td>
                        <td>C$ 0.48</td>
                    </tr>
                    <tr>
                        <td>Kinetic speed</td>
                        <td>42 km/h</td>
                    </tr>
                    <tr>
                        <td>Consumer speed</td>
                        <td>22 km/h</td>
                    </tr>
                </table>
                <table class="total yellow-bg">
                    <tr>
                        <th>Total year costs</th>
                        <th>C$ 4000</th>
                    </tr>
                </table>

            </div>
        </div>
    </div>

    <header>
        <a href="#" class="btn btn-left-sidebar" data-action="toggle" data-side="left"></a>

        <a href="#" class="btn btn-right-sidebar" data-action="toggle" data-side="right"></a>

        <h1 class="logo"><a href="/" title="Home"><img src="_assets/img/logo/logo.svg" alt="Auto Costs"/></a></h1>
    </header>
    
    
    <section id="hero">
        <div class="container">
            <h1>Automobile Cost Calculator</h1>
            
            <h2>The average total cost in 
            <select name="country_select" id="country_select" onchange="onCountrySelect(this.value);">
                <option value="AR">Argentina</option> 
                <option value="AU">Australia</option> 
                <option value="BO">Bolivia</option> 
                <option value="BR">Brasil</option> 
                <option value="CA" selected="">Canada</option> 
                <option value="CL">Chile</option> 
                <option value="CN">中国</option> 
                <option value="CO">Colombia</option> 
                <option value="CR">Costa Rica</option> 
                <option value="CU">Cuba</option> 
                <option value="CZ">Česká</option> 
                <option value="DE">Deutschland</option> 
                <option value="DK">Danmark</option> 
                <option value="DO">Rep. Dominicana</option> 
                <option value="EC">Ecuador</option> 
                <option value="ES">España</option> 
                <option value="FI">Suomessa</option> 
                <option value="FR">France</option> 
                <option value="GR">Ελλάδα</option> 
                <option value="GT">Guatemala</option> 
                <option value="HU">Magyarország</option> 
                <option value="IE">Ireland</option> 
                <option value="IN">India</option> 
                <option value="IT">Italia</option> 
                <option value="JP">日本</option> 
                <option value="MX">México</option> 
                <option value="NI">Nicaragua</option> 
                <option value="NL">Nederland</option> 
                <option value="NO">Norge</option> 
                <option value="PA">Panamá</option> 
                <option value="PE">Perú</option> 
                <option value="PL">Polska</option> 
                <option value="PR">Puerto Rico</option> 
                <option value="PT">Portugal</option> 
                <option value="PY">Paraguay</option> 
                <option value="RO">România</option> 
                <option value="RU">Россия</option> 
                <option value="SE">Sverige</option> 
                <option value="SV">El Salvador</option> 
                <option value="TR">Türkiye</option> 
                <option value="UA">Україна</option> 
                <option value="UK">United Kingdom</option> 
                <option value="US">USA</option> 
                <option value="UY" >Uruguay</option> 
                <option value="VE">Venezuela</option>  
            </select>
             is <b>$5640</b> per year.<br />
            Find the true cost of owning a car in your country.</h2>

            <a href="#" class="button big btn-blue">Calculate car cost</a>
        </div>    
    </section>

    <footer>
        <div class="animation"></div>
    </footer>

</main>
        
</body>
</html>

