/****************************************************************************************************/
/*** MAIN CENTRAL COLUMN DIV (#div2), as viewed on a large PC screen (more than 1024 px width) ******/
/****************************************************************************************************/

#div2, .result_section{
    width:90%;
    max-width:1200px;
}

#div2 td {
    padding: 8px 3% 0;
    overflow: hidden;
}

#div2 td:nth-child(2n),
.result_section td:nth-child(2n) {
    width: 28%;
}

.AC_url {
    color: #0000EE;
    line-height: 30px;
    font-weight: normal;
    font-size: 18px;
}

#input_div {
    background: #fff;
    padding: 0;
    border: 2px #999 solid;
    border-radius: 10px;
    margin: 0 16px 16px 16px;
    overflow: hidden;
}
#input_div td {
    text-align: left;
}
#input_div i {
    font-size: 13px;
}


