/* FORM */

#main_form .no_left_margin{
    margin-left: 0;
}

#main_form .set_right_margin{
    margin-right: 8px;
}

#form_part2, #form_part3 {
    display: none;
}

#form_part3 .form_section_question {
    margin-top: 10px;
}
#form_part3 .form_section_question td {
    vertical-align: middle;
}

/*main title for each form part*/
.form_part_head_title {
    padding: 10px 10%;
    background: #f0f0f0;
    color: #333333;
    text-align: center;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #717171;
}
.form_part_head_title b {
    display: block;
    font-size: 16px;
}

/*sub-title for each cost item*/
.form_section_title {
    display: block;
    padding: 21px 3% 0 3%;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}
.form_section_title2 {
    display: block;
    padding: 0 3% 0 0;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
}

/*******************/

/*smooth fade into td*/
.form_part td,
.form_part h3,
.form_part .form_section_title {
    transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -webkit-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
}

select, 
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
    display: inline-block;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;
    border: 2px solid #b4b4b4;
    margin: 4px auto;
}
select{
    max-width: 95%;
    width: auto;
}

textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
    background-color: #ffffff;
    border: 2px solid #b4b4b4;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    width: 60%;
}
input[type="radio"]{
    margin: 5px 4px 5px 8px;
}

/*hides spin buttons on form input number*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

/*Form inputs which allow max of TWO digits*/
#acquisitionMonth,
#numberInspections,
#car_to_work_number_days_week,
#number_days_tolls,
#household_number_people,
#drive_to_work_days_per_week,
#days_drive_per_month,
#income_months_per_year,
#income_weeks_per_year,
#income_hours_per_week,
#income_hour_weeks_per_year,
#time_month_per_year,
#time_hours_per_week {
    width: 25px;
}
/*Form inputs which allow max of THREE digits*/
#min_drive_per_day,
#time_home_job,
#time_weekend,
#dist_home_job,
#journey_weekend,
#dist_per_month,
#no_car_to_work_distance
#car_to_work_distance_home_work,
#car_to_work_distance_weekend{
    width: 40px;
}
#input_div .col {
    display: inline-block;
    white-space: nowrap;
    margin: 5px;
}
/*inputs which allow max of four digits*/
#acquisitionYear {
    width: 40px;
}
#depr_input_td {
    white-space:nowrap;
}
#fuel_currency_value{
    width:25%;
}

/* Buttons */
.b-bottom {
    width: 100%;
    display: table;
}
.button {
    display: inline-block;
    padding: 6px 12px;
    margin: 20px 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-image: none;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #000;
    background-color: #b2b2b2;
    border-color: #969696;
}
.button:focus,
.button:hover{
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}

.buttton_disabled{
    color: #999;
}
.button_loader {
  background-color: transparent;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #969696;
  border-bottom: 4px solid #969696;
  width: 35px;
  height: 35px;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  99% { transform: rotate(360deg); }
}

/* The switch - the box around the slider in form part 3*/
.switch {
  position: relative;
  display: inline-block;
  width: 49px;
  height: 28px;
}

.switch input {display:none;}

.switch_td{
    text-align: right;
    padding-right: 40px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ada692;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ada692;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 5px;
}

.slider.round:before {
  border-radius: 15%;
}


.lang-fixed_costs_header_1,
.lang-running_costs_header_1,
.lang-extra_data {
    display: block;
    font-size: 16px;    
    font-weight: bold;
    margin: 2px;
}

.form_section_title {
    font-size: 18px;
    text-align: left;
    margin: 0;
}

.lang-fixed_costs_header_2,
.lang-running_costs_header_2 {
    display: block;
    font-size: 15px;
    font-weight: normal;
    margin: 2px;
}

/*******************/

#run_button_div{
    display: inline-block;
}
