/*************** RESULTS, TABLES and CHARTS ***************/
.hr {
    display: none;
}

.result_div {
    margin: 15px;
}
.result_div td {
    padding: 8px 3%;
    border-top: 1px solid #a5a5a5;
    vertical-align: middle;
}
.result_div td:nth-child(2n) {
    border-left: solid 1px #b6b6b6;
}

.result_section_title {
    text-align: center;
    font-size: 17px;
    margin: 20px 10% 15px 10%;
}

.chart_div {
    margin: 0 auto;
}

.result_table td{
    text-align:left;
    overflow: hidden;
}
.result_table td:only-child{
    text-align:center;
}

.red_bold_text {
    line-height: 100%;
    border-radius:12px;
    border-width:5px;
    margin: 10px;
    display: inline-block;
    padding:2%;
    font-size:350%;
    width:auto;
    font-family:Impact;
    color:red;
    border-style:solid;
}


#result_table0 td {
    text-align: center;
    padding: 9px;
}

.result_table {
    border: 2px solid #b4b4b4;
    border-radius: 10px;
    border-collapse: separate;
}

.result_table tr:first-child td {
    border-radius: 10px 10px 0 0;
    border-collapse: separate;
    border: 0;
    text-align: center;
    vertical-align: middle;
}

.uber_table tr:first-child td,
.uber_table tr:first-child td + td,
.costs_table tr:last-child td + td,
.total_costs_table td + td,
.total_costs_table tr:nth-child(2) td,
.total_costs_table tr:nth-child(3) td {
    text-align: left !important;
}

.costs_table tr:last-child td,
#result_table2 tr:last-child td,
#result_table3 tr:last-child td,
.uber_table tr:last-child td {
    border-radius: 0 0 0 10px;
    border-collapse: separate;
}
.costs_table tr:last-child td + td,
#result_table2 tr:last-child td + td,
#result_table3 tr:last-child td + td,
.uber_table tr:last-child td + td {
    border-radius: 0 0 10px 0;
    border-collapse: separate;
}
#result_table0 tr:last-child td,
#result_table4 tr:last-child td{
    border-radius: 0 0 10px 10px;
}

#result_table0 tr:nth-child(2) td + td,
#result_table0 tr:nth-child(3) td + td {
    border-left: solid 1px #b6b6b6;
}
#result_table4 tr:nth-last-child(2) td:first-child{
    text-align: right;
}

.costs_table tr:last-child td,
#result_table2 tr:last-child td {
    text-align: right;
}
.costs_table tr:last-child td + td,
#result_table2 tr:last-child td + td {
    text-align: left;
    padding-bottom: 6px;
    padding-top: 6px;
}
.costs_table tr:nth-child(9) td+td {
    padding-bottom: 4px;
    padding-top: 4px;
}

.uber_table tr:first-child td,
#result_table2 tr:first-child td,
#result_table4 tr:first-child td {
    border-radius: 10px 0 0 0 ;
}
.uber_table tr:first-child td + td,
#result_table2 tr:first-child td + td,
#result_table4 tr:first-child td + td {
    border-left: solid 1px #b6b6b6;
    border-radius: 0 10px 0 0;
}

.costs_table tr:nth-child(2) td {
    text-align: center;
}

#result_table0 tr:nth-child(3) td,
#result_table0 tr:nth-child(4) td,
.costs_table tr:nth-child(2) td,
.costs_table tr:last-child td,
#result_table2 tr:nth-child(2) td,
#result_table2 tr:last-child td,
.uber_table tr:last-child td,
.uber_table tr:nth-last-child(2) td,
.uber_table2 tr:nth-child(2) td {
    border-top: 2px solid #b4b4b4;
}

.border_bottom_2px{
    border-bottom: 2px;
}

#text_div {
    padding: 0px 15px;
}
#result_buttons_div {
    text-align: center;
}