
<div class="sidebar left">
    <div class="sidebar-left-container">
        <a href="#" class="btn btn-danger close" data-action="close" data-side="left"><span></span></a>
        <h3>Info</h3>

        {{{words.initial_text}}}

        <div class="sidebar-contact">
            <h3>Contact us</h3>
            <a href="mailto:info@autocosts.info">info@autocosts.info</a>
        </div>
    </div>
</div>

<div class="sidebar right">
    <div class="sidebar-right-container">
        <a href="#" class="btn btn-danger close" data-action="close" data-side="right"><span></span></a>
        <h3>Costs for <select name="country_select_stats" id="country_select_stats" onchange="onCountrySelect(this.value);">
                        {{~#each serverData.availableCountries~}}
                        <option value="{{@key}}"{{{isSelected ../CC @key}}}>
                            {{~this~}}
                        </option>
                        {{/each}}
                    </select>
        </h3>
        <h4>Monthly cost (average)</h4>
        <table>
            <tr>
                <th>Standing costs</th>
                <th></th>
            </tr>
            <tr>
                <td>Depreciation</td>
                <td>C$ 90.5</td>
            </tr>
            <tr>
                <td>Insurance</td>
                <td>C$ 54.2</td>
            </tr>
            <tr>
                <td>Loan interest</td>
                <td>C$ 0.0</td>
            </tr>
            <tr>
                <td>Inspection</td>
                <td>C$ 8.5</td>
            </tr>
            <tr>
                <td>Car tax</td>
                <td>C$ 46.5</td>
            </tr>
            <tr>
                <td>50% maintenance</td>
                <td>C$ 23.2</td>
            </tr>    
            <tr class="subtotal">
                <td>Total standing costs</td>
                <td>C$ 200</td>
            </tr>     
        </table>
        <table>
            <tr>
                <th>Running costs</th>
                <th></th>
            </tr>
            <tr>
                <td>Fuel</td>
                <td>C$ 65.3</td>
            </tr>
            <tr>
                <td>50% maintenance</td>
                <td>C$ 46.5</td>
            </tr>
            <tr>
                <td>Repair</td>
                <td>C$ 13.2</td>
            </tr>
            <tr>
                <td>Parking</td>
                <td>C$ 28.7</td>
            </tr>
            <tr>
                <td>Tolls</td>
                <td>C$ 0.1</td>
            </tr>
            <tr>
                <td>Traffic fines</td>
                <td>C$ 0.7</td>
            </tr>
            <tr>
                <td>Washing</td>
                <td>C$ 2.6</td>
            </tr>    
            <tr class="subtotal">
                <td>Total running costs</td>
                <td>C$ 134</td>
            </tr>     
        </table>
        <table class="total blue-bg">
            <tr>
                <th>Total monthly costs</th>
                <th>C$ 334</th>
            </tr>
        </table>


        <h4 class="yellow-bar">Year cost (average)</h4>
        <table>
            <tr>
                <td>Running cost per km</td>
                <td>C$ 0.19</td>
            </tr>
            <tr>
                <td>Total cost per km</td>
                <td>C$ 0.48</td>
            </tr>
            <tr>
                <td>Kinetic speed</td>
                <td>42 km/h</td>
            </tr>
            <tr>
                <td>Consumer speed</td>
                <td>22 km/h</td>
            </tr>
        </table>
        <table class="total yellow-bg">
            <tr>
                <th>Total year costs</th>
                <th>C$ 4000</th>
            </tr>
        </table>

    </div>
</div>
