/*
div, span, .table, .td, .tr, table, tr, td  {
    border: 1px solid #000000;
}*/

body {
    margin: 0;
    font-family: "Verdana", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(45deg, #ffffff 0%, #f5f5f5 37%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #ffffff), color-stop(37%, #f5f5f5), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #ffffff 0%, #f5f5f5 37%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #ffffff 0%, #f5f5f5 37%, #ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #ffffff 0%, #f5f5f5 37%, #ffffff 100%); /* IE10+ */
    background: linear-gradient(45deg, #ffffff 0%, #f5f5f5 37%, #ffffff 100%); /* W3C */
}

/*headings*/
h1
.lang-main_title{
    font-size: 28px;
    text-align: center;
    margin: 0;
}
h2{
    display: block;
    font-size: 16px;
    font-weight: normal;
    margin: 2px;
}
h3{
    font-size: 18px;
    text-align: left;
    margin: 0;
}
h4{
    display: block;
    font-size: 15px;
    font-weight: normal;
    margin: 2px;
}
/*simple elements*/
p {
    margin: 0 0 10px;
}
i {
    font-style: italic;
}
b {
    font-weight: bold;
}
img {
    width: 100%;
}
a {
    color: #333;
}
sup {
    vertical-align: super;
    font-size: smaller;
}
.nowrap{
    white-space: nowrap;
}
.va-middle{
    vertical-align:middle;
}
.ta-left{
    text-align:left;
}

/* TABLES */
table {
    width: 100%;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

table>caption+thead>tr:first-child>td,
table>caption+thead>tr:first-child>th,
table>colgroup+thead>tr:first-child>td,
table>colgroup+thead>tr:first-child>th,
table>thead:first-child>tr:first-child>td,
table>thead:first-child>tr:first-child>th {
    border-top: 0;
}
table>tbody>tr>td,
table>tbody>tr>th,
table>tfoot>tr>td,
table>tfoot>tr>th,
table>thead>tr>td,
table>thead>tr>th {
    background-color: #fff;
}


/*Layout*/
#main_div{
    padding: 1%;
}
#div3_td, #div1_td, #div2_td {
    display: table-cell;
    text-align: center;
    vertical-align:top;
}
#div3, #div1, #div2 {
    overflow: hidden;
    margin: 0 auto;
}
.result_section {
    background: #f0f0f0;
    border: 2px solid #b4b4b4;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    display: none;
    margin-top: 20px;
}

#div1, #div3 {
    width: 98%;
    max-width:768px;
}
