
/* ------------------------------********* RESPONSIVE *********------------------------------ */

@media screen and (max-width:1150px) {
    .sidebar > .sidebar-left-container,
    .sidebar > .sidebar-right-container {width: 40%;}

    .sidebar > .sidebar-left-container > .close {margin-left: 44%;}

    .container .steps {width: 27%;}
    .container .form_part {width: 67%; margin-left: 31%;}
}


@media screen and (max-width:768px) {

    .sidebars > .left > .sidebar-left-container,
    .sidebars > .right > .sidebar-right-container {width: 50%;}

    .sidebars > .left > .sidebar-left-container > .close {margin-left: 54%;}


    /* ------------------ FORM ELEMENTS ------------------*/
    .container .form_part {width: 82%; margin: 0 4%}

    .container .steps {position: fixed; z-index: 99; background: #f4f6fe; bottom: 0; width: 92%; margin: 0; height: 27px; padding: 4%; min-width: 640px; overflow-x: scroll; overflow-y: hidden;}
    .container .steps ul {float: left; display: inline-block; width: 100%}
    .container .steps ul li.one:first-child {width: 143px}
    .container .steps ul li.two {width: 187px}
    .container .steps ul li.three {width: 145px; height: 34px; overflow: hidden;}
    .container .steps ul li.one ul {float: left; display: inline-block;}

    .container .steps ul li,
    .container .steps ul li:before,
    .container .steps ul li > ul > li.done:before,
    .container .steps ul li > ul > li.active:before {float: left;}

    .container .steps ul li.active > span,
    .container .steps ul li.active ul li.active > span,
    .container .steps ul li > ul > li > span,
    .container .steps ul li span {display: none}

    .container .steps ul li > ul > li:after {display: inline-block; position: relative;width: 22px; height: 2px; top: 2px; left: 33px}
    .container .steps ul li > ul > li.active:before {float: left; margin: 9px 0 0 39px}
    .container .steps ul li > ul > li:before {margin: 13px 0 0 40px}

    .container .steps ul li.number:after {display: none;}

    /* Calculate car cost button */
    .calculate_bottom_bar {background: none; height: auto; bottom: 64px; box-shadow: none;}
    .calculate_bottom_bar a {max-width: 60%; font-size: 14px!important; padding: 8px 0px!important;}


    /* ------------------ RESULTS ------------------*/
    #results {width: 94%; margin: 0 auto}
    main #form {max-width: 100%;}

    #results .results-section {margin-bottom: 20px }
    #results #equivalent-transport-costs {margin-bottom: 160px }

    #results #avg-periodic-cost {width: 100%; display: inline-block; margin: 36px 0 60px}

    #results #info-boxes .container {height: auto}
    #results #info-boxes .container .info-box {float: none; margin: 10px auto; width: 90%; max-width: 280px}
    #info-boxes .container .info-box select {width: auto!important}

    #results .results-section .values .accordion {padding: 5px 0% 0 3%}
    #results #financial-effort .values .accordion {padding: 5px 0 0}

    #results #avg-monthly-cost {display: inline-block; width: 94%; margin-bottom: 30px}

    #results #avg-periodic-cost .costs-bars-chart-stats {float: none; width: 98%; margin:0px;}
    #results #avg-periodic-cost .costs-doughnut-chart   {float: none; width: 300px; margin-bottom: 30px;}

    #results .stats-references .standing-costs {width: 47%}
    #results .stats-references .running-costs {width: 50%}
    .stats-references ul li {display: block; padding: 3px 10px 0 15px; line-height: 15px; margin-bottom: 5px}
    .stats-references ul li:before {margin: 0px 0 0 -15px; }

    #results #avg-periodic-cost .three-boxes .box {width: 100%; margin: 10px auto; min-height: auto; float: none; padding-bottom: 20px}
    #results #avg-periodic-cost .three-boxes .box .title {width: 94%; padding: 3px 3% 0 8px;}
    #results #avg-periodic-cost .three-boxes .box .total-item {width: 94%; padding: 3px 3% 0 3% }
    #results #avg-periodic-cost .three-boxes .box .total-ammount { width: 94%; padding: 5px 3%;}
    #results #avg-periodic-cost .three-boxes .box .total-ammount h4 {margin-left: 0}
    #results #avg-periodic-cost .three-boxes .box .title h3 {font-size: 18px; margin-left: 0;}
    #results #avg-periodic-cost .three-boxes .box .title span {max-width: 160px; margin-bottom: 5px}
    #results #avg-periodic-cost .three-boxes .box .accordion {padding: 3px 3%;}

    #results .results-section .graph, #results .results-section .values {width: 100%; float: none; margin: 0 auto}
    #results .results-section .values {margin: 20px auto}

    #results #avg-periodic-cost h2, #results .results-section h2 {line-height: 30px;}
    #results .results-section .graph h5 {text-align: center;}
    #results .results-section .values h5 {padding-left:  0}

    #results .bottom-actions-bar {width: 96%; padding: 2%}

    #results .bottom-actions-bar .left-actions #edit_form_btn {margin-top: 0px}

    #results .bottom-actions-bar .center-actions {display: none;}
    #results .bottom-actions-bar .center-actions-mobile {display: inline-block;}
    #results .bottom-actions-bar .center-actions-mobile a,
    #results .bottom-actions-bar .right-actions-mobile a.menu-toggle,
    #results .bottom-actions-bar .right-actions-mobile a.menu-close {padding: 5px 10px!important}
    #results .bottom-actions-bar .center-actions-mobile .button-pdf {margin-right: 5px}
    #results .bottom-actions-bar .center-actions-mobile a svg {margin-right: 0px; padding: 0px 2px 0px 5px; vertical-align: middle;}

    #results .bottom-actions-bar .right-actions {display: none;}
    #results .bottom-actions-bar .right-actions-mobile {display: inline-block; float: right;}

    .bottom-actions-bar .right-actions-mobile .main-menu ul li a,
    .bottom-actions-bar .right-actions-mobile .main-menu ul li a svg {width: 20px!important; height: 20px!important}

    #results .panel ul li {padding-left:  9px}
}


@media screen and (max-width:600px) {

    .sidebars > .left > .sidebar-left-container,
    .sidebars > .right > .sidebar-right-container {width: 70%;}

    .sidebars > .left > .sidebar-left-container > .close {margin-left: 74%;}
}


@media screen and (max-width:540px) {

    h1 {font-size: 33px; line-height: 40px}
    h2 {font-size: 16px}
    h3 {font-size: 22px}
    h4 {font-size: 18px}

    /* ------ Header ------*/
    .btn-left-sidebar, .btn-right-sidebar {background-size: 560%; width: 30px; height: 30px; border-width: 2px;}
    .btn-left-sidebar {left: 10px; top: 10px;}
    .btn-right-sidebar {right: 10px; top: 10px; background-position: -61px 0;}

    .btn-left-sidebar:hover {background-position: -30px 0}
    .btn-right-sidebar:hover {background-position: -91px 0}

    header .logo {width: 40%; height: auto; margin-top: 4%; max-width: 160px;}

    /* ------ Hero ------*/
    #hero {padding: 0px 0 30px;}
    #hero .container h2 {margin: 7px 0 20px; line-height: 30px; font-size: 18px;}
    #hero .container h2 select {font-size: 18px;}
    #hero .container .big {max-width: 100%; padding:15px 10px;}

    /* ------ Sidebars ------*/
    .sidebars > .left > .sidebar-left-container {width: 88%; padding: 6%}
    .sidebars > .right > .sidebar-right-container {width: 100%; overflow-y: scroll; height: 100%;}
    .sidebars > .right > .sidebar-right-container table.yellow-bg {margin-bottom: 20px}
    .sidebars > .right > .sidebar-right-container select {width: 150px!important;}

    .sidebars > .left > .sidebar-left-container > .close {margin: -13px 0 0 80%;}
    .sidebars > .right > .sidebar-right-container > .close {margin: 10px 0 0 86%;}

    table.yellow-bg::before {height: 50px}

    .close {border: 2px solid #2c49b9; width: 30px; height: 30px}
    .close span {width: 20px; height: 20px; margin: 8px 0 0 5px;}
    .close span::before, .close span::after {background: #2c49b9; height: 3px;}

    /* ------------------ FORM ELEMENTS ------------------*/
    main {margin-top: 90px}
    main #form {max-width: 100%;}
    main #results {max-width: 90%;}
    main #form .container {margin-top: 0px}

    .container .form_part {width: 90%; margin: 0 5%;}

    /* see issue #124 https://github.com/jfoclpf/autocosts/issues/124
    .container .form_part .form_part_head_title {margin: 3% 0 25px;} */

    .container .form_part h2.lang-fixed_costs_header_1 {font-size: 22px}

    .container .form_part .field_container {margin: 0 0 50px;}

    .small_input {margin-right: 0}

    label {font-size: 16px; line-height: 18px}
    input {font-size: 22px; width: 84%; border-radius: 0; -webkit-appearance: none}

    .input_300 {width: 76%!important; max-width: 62%; padding-left: 80px }
    .input_200 {width: 65%!important}
    .input_70, select {width: 100%}
    #hero select {width: 118px}
    input.unit_n_month_left {padding-left: 95px}
    input.unit_n_hour_left {padding-left: 80px}
    input.no_padding_left {width: 66%}

    select.big-dropdown {font-size: 22px; }
    .input_value select {margin-top: 10px}

    .radio_tab_container {width: 70px}
    .radio_tab_container label {font-size: 12px; padding: 4px 0}
    .small_tabs .radio_tab_container label {font-size: 12px}

    label.float_left {float: inherit; margin-bottom: 10px}

    .unit, .per, .during, .months_year, .minutes_day,
    .unit_days-per-week, .days_per_month, .hours_week, .min {font-size: 22px}

    .unit {top: 9px}

    .small_input .unit {top: 9px!important}
    .small_input input[type='number'] {font-size: 30px; width: 199px; padding-left: 48px}

    #div_car_job_yes_form2, #div_car_job_no_form2, .fuel_efficiency {margin-left: 0}

    #currency_div_form2 input[type='number'] {width: 130px}

    #working_time_input_form3 input, #daily_tolls_true_div input {margin-bottom: 10px}

    #div_car_job_yes_form2 input[type='number'] {width: 80px}

    #daily_tolls_false_div label span {max-width: 100%}
    #daily_tolls_false_div input {width: 50%!important }

    #working_time_input_form3 input.input_70 {width: 40%!important }

    .time_spent_part2_form3 .input_70 {width: 40px!important }

    /* Steps */
    .container .steps {min-width: auto; height: 32px; }
    .container .steps ul {margin: 5px auto 0; max-width: 300px; float: none;}

    .container .steps ul .number:before { padding: 4px 0 0 11px; width: 19px; height: 25px; font-size: 14px;}

    .container .steps ul li.one:first-child,
    .container .steps ul li.two,
    .container .steps ul li.three {width: auto;}

    .container .steps ul li.one ul,
    .container .steps ul li.two ul,
    .container .steps ul li.three ul {margin-left: 29px}

    .container .steps ul li.active > span,
    .container .steps ul li.active ul li.active > span,
    .container .steps ul li > ul > li > span {text-indent: -9999px; display: inline-block; width: 8px; height: 8px; background-color: #d7dbee; margin: 0; border: 1px solid #f4f6ff; border-radius: 50%;}

    .container .steps ul li.active ul li.active {margin-top: 0}
    .container .steps ul li {margin-top: -3px}
    .container .steps ul li.active ul li.done {margin-top: -3px!important}

    .container .steps ul li.active ul li.active > span,
    .container .steps ul li.active ul li.done > span {background: #2c49b9;}
    .container .steps ul li.active ul li.active > span {width: 16px; height: 16px;}
    .container .steps ul li.active ul li.done > span {width: 8px!important; height: 8px!important}

    .container .steps ul li span,
    .container .steps ul li > ul > li:before,
    .container .steps ul li > ul > li:after,
    .container .steps ul li.active > span {display: none}

    /* ------ Results ------*/
    #results .results-section .values .accordion {padding: 5px 0 0 4%}
    #results .results-section .values span {padding-left: 0}

    /* ------ Footer Animation ------*/

    footer .animation-desktop {width: 100%; background-size: 160%;}
    footer.footer-desktop {height: 290px}
    footer .animation-desktop {height: 250px}
}


@media screen and (max-width:460px) {
    #results #avg-monthly-cost h2, #results .results-section h2 {font-size: 22px; line-height: 25px;}
}

@media screen and (max-width:340px) {
    #hero .container .big {font-size: 15px!important;}
}

/*
 Share expandable navigation for mobile only
*/
.main-menu {
  position: absolute;
  left: -769px;
  top: 0;
  height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    transition: left 0.3s ease,
                      box-shadow 0.3s ease;
    z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 6px 0 0;
  padding: 0;
  background: white;
}

.main-menu ul li{
  display: inline-block;
}

.main-menu a {
  display: block;
  color: #fff;
  text-decoration: none;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 5px;
}


.main-menu:target,
.main-menu[aria-expanded="true"] {
   left: 0;
    outline: none;
    width: 100%;
    height: 41px;
    padding: 0;
    top: -10px;
    background: white;
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}


.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}



/*
 Smart Banner App
*/

.smartbanner-show .smartbanner {
    background: white!important;
    line-height: inherit!important;
    box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.12)!important;
    height: 70px!important
}

.smartbanner > .smartbanner-container {margin: 5px 0!important}

.smartbanner > .smartbanner-container > .smartbanner-close {
    background: none;
    box-shadow: none;
    text-shadow: none;
    color: #42444a;
    font-size: 21px;
    font-weight: 400;
}

.smartbanner > .smartbanner-container > .smartbanner-close > .smartbanner-icon {
    background: #ebeef9 url(/img/logo/logo_sm.png) no-repeat center;
    padding: 10px;
    background-size: 65%;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin: 0 15px 0 10px;
}

.smartbanner > .smartbanner-container > .smartbanner-info { text-shadow: none; color: #868790; font-family: 'Nunito';}
.smartbanner > .smartbanner-container > .smartbanner-info > .smartbanner-title {color: black; line-height: 16px}

.smartbanner > .smartbanner-container > .smartbanner-button {
    box-shadow: none;
    background: #efa00b;
    color: white;
    border-radius: 5px;
    font-family: 'Nunito';
    font-weight: 700;
    height: 35px
}
.smartbanner > .smartbanner-container > .smartbanner-button > .smartbanner-button-text {
    box-shadow: none;font-weight: 700; background: #efa00b; padding: 6px 16px; border-radius: 5px;}

.smartbanner > .smartbanner-container > .smartbanner-icon {
    background: #ebeef9 url(/img/logo/logo_sm.png) no-repeat center center;
    background-size: 70%;
    width: 20px;
    height: 20px;
    padding: 10px!important;
    border-radius: 5px;
    margin: 0 15px 0 10px;

}
