@charset "utf-8";
* {margin:0; padding:0;}

body {width: 100%; background:#f4f6fe; color:#000; font-family: 'Nunito',Arial,sans-serif;}

body a {display:block; font-size: 16px; font-weight: 700; color:#2c49b9; text-decoration:none;}
body a:hover {color:#385be1}

img { max-width: 100%; }

header {position:fixed; top:0; left:0; width:100%; background:#f4f6fe; z-index:9999; padding-bottom:14px; z-index:9999;}

header h1.logo { width:215px; height:40px; margin:30px auto 0;}
header h1.logo a {display:block; text-indent:-9999px;}
header h1.logo a img {display:block;}

container {display:block;}
wrapper {display:block; position:relative; overflow:hidden; width:100%; max-width:1110px; margin:0 auto; padding:0 30px;}

main {display:block; position: relative; margin: 130px auto 0; text-align: center; min-height:400px;}
main section {display:block; position:relative; }
main #form {width: 1170px; max-width: 100%; margin: 0 auto;}
main #form .container {margin-top: 115px; display: -webkit-box; display: -ms-flexbox; display: flex; height: 100vh; }


/* ---------- Fonts ---------- */
h1,h2,h3,h4,h5,h5 {font-weight: 700; font-family: 'Nunito',Arial,sans-serif;}

h1 {font-size: 40px; line-height: 45px}
h2 {font-size: 22px}
h3 {font-size: 22px}
h4 {font-size: 18px}

p {font-size: 16px; color: #42444a; line-height: 22px; margin: 10px 0}


/* ---------- Hero ---------- */
#hero {display: block; padding: 60px 0;}
#hero .container {max-width: 90%; margin: 0 auto; text-align: center; }
#hero .container h2{color: #42444a; font-weight: 400; margin: 20px 0 30px;}
#hero .container a {margin: 0 auto}


/* ------------------------------********* FORM ELEMENTS *********------------------------------ */

label {font-size: 18px; color: black; display: block; clear: both; margin-bottom: 15px}
label > span, label > i  {font-size: 14px; font-style: normal; color: #42444a; display: block; clear: both; }
label.float_left {float: left; margin: 3px 20px 0 0;}


/* ---------- Inputs ---------- */
.input_value { position: relative; }

textarea,
input[type="text"],
input[type="button"],
input[type="submit"]{
-webkit-appearance: none;
border-radius: 0;
}

input {transition: ease-in-out, width .35s ease-in-out; border: none; border-bottom: 1px solid #b0b2be; color: black; font-family: 'Nunito'; background: transparent; font-size: 30px }
input:focus {border-bottom: 1px solid black; outline: none;}

input[type='date'], input[type='number'] {font-size: 30px; text-transform: uppercase; }
input[type=date]:invalid::-webkit-datetime-edit {color: #b0b2be;}

input[type='date']-webkit-input-placeholder {color: #b0b2be;}
input[type='date']::-moz-placeholder {color: #b0b2be;}
input[type='date']:-ms-input-placeholder {color: #b0b2be;}
input[type='date']::-webkit-input-placeholder {color: #b0b2be;}
input[type='date']::placeholder {color: #b0b2be; opacity: 1; }


/* Units on inputs */
.unit { position: absolute; font-size: 30px; text-transform: capitalize; font-weight: 700; color: black; display: block; top: 1px; z-index: 9; }
.unit_kms, .unit_days-per-week, .unit_litre_100kms {font-size: 30px; text-transform: capitalize; font-weight: 700; color: black; padding: 0 0 0 10px}

.unit_left {padding-left: 48px}

.unit_n_year_left {padding-left: 115px}
.unit_n_month_left {padding-left: 140px}
.unit_n_hour_left {padding-left: 110px}


.per, .during, .months_year, .minutes_day, .unit_days-per-week {padding: 0 10px; font-size: 30px}
.days_per_month, .hours_week, .min {padding: 0 0 0 10px; font-size: 30px}


/* Small input */
.small_input {margin:0 25px 25px 0; }

.small_input label {font-size: 14px; margin-bottom: 10px}
.small_input label > span {color: #42444a}
.small_input input[type='number'] {width: 152px; font-size: 22px; padding-left: 34px}

.small_input input,
.small_input select, 
.small_input .unit,
.small_input .per,
.small_input .unit_kms,
.small_input .unit_days-per-week,
.small_input .unit_litre_100kms {font-size: 22px}


/*---  Input help classes ---*/
.no_padding_left {padding-left: 0!important}
.input_300 {width: 300px!important;}
.input_200 {width: 200px!important;}
.input_90 {width: 90px!important}
.input_80 {width: 90px!important}
.input_70 {width: 70px!important}
.input_40 {width: 40px!important}
.no_margin_bottom {margin-bottom: 0!important}
input:disabled, label.disabled, input:disabled + .unit  {opacity: 0.3}

#div_car_job_yes_form2, #div_car_job_no_form2, .fuel_efficiency {margin-left: 158px}
.fuel_efficiency {margin-top: 26px}

.time_spent_part1_form3 input, .time_spent_part2_form3 input,
.fuel_efficiency {margin-bottom: 30px}


/* ---------- Radio tabs  ---------- */
.radio_tabs {display: flex;flex-wrap: wrap; margin: 0px 0 20px;}
.radio_tab_container {position: relative; height:  41px; width:  122px; margin: 0;}

.radio_tab_container input[type='radio'] {opacity: 0; position: absolute; top: 0; left: 0; height: 100%; width: 100%; margin: 0; cursor: pointer; border: 1px solid black;}

.radio_tab_container label {text-align: center; text-transform: capitalize; font-size: 16px; font-weight: 400; color: black; padding: 8px 0; margin: 0; border: 1px solid #b0b2be;  border-right: none;}
.radio_tab_container:first-child label {border-radius: 5px 0 0 5px}
.radio_tab_container:last-child label {border-right: 1px solid #b0b2be;  border-radius: 0 5px 5px 0}

.radio_tab_container input[type='radio']:checked + label {background-color: black; color: white;
    .radio_tab_container label {color: white; background-color: black;}
 }
 /* Small tabs */
 .small_tabs .radio_tab_container  {height:  29px; width: auto;}
 .small_tabs .radio_tab_container label {font-size: 14px; padding: 4px 10px}


/* ---------- Dropdown ---------- */
select {font-family: 'Nunito',Arial,sans-serif; text-transform: capitalize; margin: 0; background: transparent; padding: 5px 24px 0 0; font-size: 22px; border: 0px; border-bottom: 1px solid black; -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 0; background: url('../img/dd_arrow.png') 100% 16px no-repeat transparent;}
select.big-dropdown {font-size: 30px; padding: 0px 30px 0 0;}

/* CAUTION: IE hackery ahead */
select::-ms-expand {display: none; /* remove default arrow on ie10 and ie11 */}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {background:none\9; padding: 5px\9;} 
}


/* ---------- Buttons ---------- */
.button, input[type="button"].button {display: initial; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 15px 30px; color: white; font-size: 15px; font-weight: 700}

.big {width: 370px; font-size: 18px!important; padding: 18px 30px!important;}

.btn-blue {background-color: #2c49b9} 
.btn-blue:hover {color: white; background-color: #385be1}

.btn-orange {background-color: #efa00b; padding: 8px 20px;} 
.btn-orange:hover {color: white; background-color: #ffae16}


/* ---------- Steps ---------- */
.container .steps {position: fixed; width: 24%; margin: 0 0 0 2%; display: block; }
.container .steps ul {list-style: none;}
.container .steps ul li {display: block; text-align: left; color: white; position: relative;}
.container .steps ul li span { display: inline-block; line-height: 35px; margin: 0 0 0 45px; color: #d7dbee; font-weight: 700; font-size: 14px;}
.container .steps ul li span.optional {font-size: 12px; font-weight: 400; margin: -8px 0 0 0; line-height: 12px; clear: both; display: block;}
.container .steps ul li:first-child {margin-left: unset;}

.container .steps ul li:before {content: ""; width: 35px; height: 35px; background-color: #d7dbee; position: absolute; border-radius: 100%; }
.container .steps ul li:after {position: absolute; content: ''; background-color: #d7dbee; width: 2px; height: 25px; top: -10px; left: 17px; z-index: -11;}
.container .steps ul li > ul > li:before {width: 10px; height: 10px;margin: 10px 0 0 13px;}
.container .steps ul li > ul > li > span {font-size: 12px; font-weight: 400; margin-left: 35px; line-height: 25px;height: 18px;overflow: hidden;}

.container .steps ul .number:before {color: white; padding: 7px 0 0 12px; width: 21px; height: 26px;}
.container .steps ul .one:before {content: "1"}
.container .steps ul .two:before {content: "2"}
.container .steps ul .three:before {content: "3"}
.container .steps ul .one:after {display: none}

.container .steps ul li.active:before {background-color: #2c49b9; color: white}
.container .steps ul li.active:after {background-color: #2c49b9;}
.container .steps ul li.active > span, .container .steps ul li.active ul li.active > span {color: #2c49b9}
.container .steps ul li > ul > li.active:before { background-color: #2c49b9; width: 14px; height: 14px; margin: 4px 0 0 10px; border: 1px solid #2c49b9; -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,1); -moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,1); box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,1);}
.container .steps ul li > ul > li.done:before {content: "\2713"; line-height: 16px; font-size: 11px; padding-left: 3px; width: 11px; border: 1px solid #2c49b9; -webkit-box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,1); -moz-box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,1); box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,1);}


/* ---------- Bottom bar ---------- */
.cta_bottom_bar {
	-webkit-box-shadow: 0px -5px 12px -3px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px -5px 12px -3px rgba(0,0,0,0.05);
	box-shadow: 0px -5px 12px -3px rgba(0,0,0,0.05);
	background: white;
	position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    left: 0;
    z-index: 999;
}
.cta_bottom_bar a {display: inline-block; margin-top: 10px}



/* ------------------------------********* FORM CONTENT *********------------------------------ */
.container .form_part {width: 64%; margin: 0 0 0 30%; display: block; text-align: left;}

.container .form_part h2.lang-fixed_costs_header_1 {font-size: 30px; line-height: 30px; margin: 0 }
.container .form_part p.lang-fixed_costs_header_2 {color: #868790; margin: 0 }

.container .form_part .form_part_head_title {margin: 8% 0 30px }

.container .form_part .field_container {display: block; margin-top: 60px;}

.container .form_part .field1 #commercial_value {margin: 30px 0;}

.container .form_part .field_container .next {/*display: none;*/ margin: 17px 0 0;}
.container .form_part .field_container .next span{font-size: 12px; color: #868790; margin-left: 6px}

.container .form_part .time_spent_part2_form3 {padding-bottom: 150px;}



/* ------------------------------********* SIDEBARS *********------------------------------ */
.btn-left-sidebar, .btn-right-sidebar {border-radius: 50%; border: 3px solid #2c49b9; width: 45px; height: 45px; background: transparent url('../img/sprites_icons.png') 0 0; }
.btn-left-sidebar:hover, .btn-right-sidebar:hover {border-color: #385be1}
.btn-left-sidebar {position: absolute; left: 27px; top: 27px}
.btn-left-sidebar:hover {background-position: -45px 0}
.btn-right-sidebar {position: absolute; right: 27px; top: 27px; background-position: -90px 0}
.btn-right-sidebar:hover {background-position: -135px 0}

.sidebar.left {position: fixed; top: 0; left: 0; bottom: 0; width: 100%;background: white;}
.sidebar.right {top: 0; right: 0; bottom: 0; width: 100%; background: white;}

.sidebars > .sidebar { position: fixed; color: black; text-align: left; z-index: 9999999; background-color: rgba(0, 0, 0, 0.4);overflow: scroll;}

.sidebar > .sidebar-left-container, .sidebar > .sidebar-right-container {background: white; width: 30%; height: 110%; padding: 40px 20px; -webkit-box-shadow: 6px 0px 15px -5px rgba(0,0,0,0.56); -moz-box-shadow: 6px 0px 15px -5px rgba(0,0,0,0.56); box-shadow: 6px 0px 15px -5px rgba(0,0,0,0.56);}
.sidebar > .sidebar-left-container > .sidebar-contact {margin: 40px 0 0;}
.sidebar > .sidebar-right-container {position: absolute; right: 0; padding: 0 0 40px; -webkit-box-shadow: -6px 0px 15px -5px rgba(0,0,0,0.56);-moz-box-shadow: -6px 0px 15px -5px rgba(0,0,0,0.56);box-shadow: -6px 0px 15px -5px rgba(0,0,0,0.56);}

.sidebar > .sidebar-right-container > h3 {margin: 10px 0 0 20px}
.sidebar > .sidebar-right-container > h4 {margin: 10px 0;}
.sidebar > .sidebar-right-container > h4.yellow-bar {margin-top: 20px}
.sidebar > .sidebar-right-container > h4::before {content: " -"; background-color: #2c49b9; color: #2c49b9; margin-right: 10px;}
.sidebar > .sidebar-right-container > h4.yellow-bar::before {background-color: #efa00b; color: #efa00b;}

.sidebar > .sidebar-left-container > .close {position: absolute;margin: -11px 0 0 33%;}
.sidebar > .sidebar-right-container > .close {position: absolute;margin: 29px 0 0 -18%;}

.close {position: relative; display: inline-block; width: 45px; height: 45px; border-radius: 50%; border: 3px solid white;}
.close span{ position: relative; display: inline-block; width: 25px; height: 25px; overflow: hidden; margin: 12px 0 0 10px}
.close span::before, .close span::after { content: ''; position: absolute; height: 4px; width: 100%; top: 50%; left: 0; margin-top: -1px; background: white; margin-top: -4px; border-radius: 5px;}
.close span:before {transform: rotate(45deg);}
.close span:after {transform: rotate(-45deg);}


/* ---------- Tables ---------- */
table {width: 80%; font-size: 16px; line-height: 16px; color: #797b82; margin: 3px 0 0 20px}
table tr {margin-bottom: 5px}
table tr td {margin-left: 20px}
table tr td:first-child {display: block}
table tr td + td {text-align: right; width: 30%}

table tr.subtotal td, table.total tr th {color: black; font-weight: 700}

table.total {margin-top: 10px}

table.total::before {content:""; width:100%; position:absolute; height:35px; left:0%; z-index:1}
table.blue-bg::before {background-color:#e9ecf8;}
table.yellow-bg::before {background-color:#fdf5e6;}

table.total tr th {font-size: 18px; line-height: 18px; z-index:2;position: relative;padding-top: 3px}
table.total tr th + th {text-align: right; width: 30%}


/* ---------- Home Footer Animation ---------- */
footer {display:block; background: transparent url('../img/animation-bg.jpg') repeat-x left 134px; height: 280px}
footer .animation {display:block; background: transparent url('../img/animation.gif') no-repeat center top; width: 1400px; height: 313px}



/* ------------------------------********* RESPONSIVE *********------------------------------ */

@media screen and (max-width:1150px) {
	.sidebar > .sidebar-left-container, 
	.sidebar > .sidebar-right-container {width: 40%;}

	.sidebar > .sidebar-left-container > .close {margin-left: 44%;}

	.container .steps {margin-left: 2%;}
	.container .form_part {width: 67%; margin-left: 3%;}
	
}


@media screen and (max-width:768px) {

	.sidebars > .left > .sidebar-left-container, 
	.sidebars > .right > .sidebar-right-container {width: 50%;}

	.sidebars > .left > .sidebar-left-container > .close {margin-left: 54%;}


	/* ------------------ FORM ELEMENTS ------------------*/
	.container .form_part {width: 100%}

	.container .steps {
		position: fixed;
	    z-index: 99;
	    background: #f4f6fe;
	    bottom: 0;
	    width: 92%;
	    margin: 0;
	    height: 27px;
	    padding: 4%;
	    min-width: 640px;
	    overflow-x: scroll;
	    overflow-y: hidden;
	}
	.container .steps ul {float: left; display: inline-block; width: 100%}
	.container .steps ul li.one:first-child {width: 160px}
	.container .steps ul li.two {width: 210px}
	.container .steps ul li.thre {width: 210px}
	.container .steps ul li.one ul {float: left; display: inline-block; width: 136px;}

	.container .steps ul li,
	.container .steps ul li:before,
	.container .steps ul li > ul > li.done:before,
	.container .steps ul li > ul > li.active:before {float: left;}

	.container .steps ul li.active > span, 
	.container .steps ul li.active ul li.active > span,
	.container .steps ul li > ul > li > span,
	.container .steps ul li span {display: none}

	.container .steps ul li > ul > li:after {display: inline-block; position: relative;width: 25px; height: 2px; top: 3px; left: 35px}
	.container .steps ul li > ul > li.active:before {float: left; margin: 10px 0 0 47px}
	.container .steps ul li > ul > li:before {margin: 13px 0 0 45px}

	.container .steps ul li.number:after {display: none;}

}


@media screen and (max-width:600px) {

	.sidebars > .left > .sidebar-left-container, 
	.sidebars > .right > .sidebar-right-container {width: 70%;}

	.sidebars > .left > .sidebar-left-container > .close {margin-left: 74%;}

}


@media screen and (max-width:540px) {

	h1 {font-size: 35px; line-height: 40px}
	h2 {font-size: 16px}
	h3 {font-size: 22px}
	h4 {font-size: 18px}

	/* ------ Header ------*/
	.btn-left-sidebar, .btn-right-sidebar {background-size: 560%; width: 30px; height: 30px; border-width: 2px;}
	.btn-left-sidebar {left: 10px; top: 10px;}
	.btn-right-sidebar {right: 10px; top: 10px; background-position: -61px 0;}

	.btn-left-sidebar:hover {background-position: -30px 0}
	.btn-right-sidebar:hover {background-position: -91px 0}

	header h1.logo {width: 40%; height: auto; margin-top: 4%; max-width: 160px;}


	/* ------ Hero ------*/
	#hero {padding: 0px 0 30px;}
	#hero .container h2 {margin: 7px 0 20px; }
	#hero .container .big {max-width: 80%}

	/* ------ Sidebars ------*/
	.sidebars > .left > .sidebar-left-container {width: 88%; padding: 6%}
	.sidebars > .right > .sidebar-right-container {width: 100%;}
	.sidebars > .right > .sidebar-right-container select {width: 150px;}

	.sidebars > .left > .sidebar-left-container > .close {margin: -13px 0 0 80%;}
	.sidebars > .right > .sidebar-right-container > .close {margin: 10px 0 0 86%;}

	.close {border: 2px solid #2c49b9; width: 30px; height: 30px}
	.close span {width: 20px; height: 20px; margin: 8px 0 0 5px;}
	.close span::before, .close span::after {background: #2c49b9; height: 3px;}


	/* ------------------ FORM ELEMENTS ------------------*/
	main {margin-top: 90px}
	main #form {width: 100%;}
	main #form .container {margin-top: 0px}

	.container .form_part {width: 90%; margin: 0 5%;}
	
	.container .form_part .form_part_head_title {margin: 3% 0 25px;}
	.container .form_part h2.lang-fixed_costs_header_1 {font-size: 22px}

	.container .form_part .field_container {margin: 0 0 50px;}

	.small_input {margin-right: 0}

	label {font-size: 16px; line-height: 18px}
	input {font-size: 22px; width: 84%; border-radius: 0; -webkit-appearance: none}
	input[type='date'] {width: 100%; min-height: 2.5rem;}
	input[type="tel"].input_month::before, input[type="tel"].input_year::before { content: attr(data-placeholder); width: 100%;}
	input[type="tel"].input_month:focus::before, input[type="tel"].input_year:focus::before,
	input[type="tel"].input_month:valid::before, input[type="tel"].input_year:valid::before { display: none }

	.input_300 {width: 76%!important; max-width: 62%; padding-left: 80px }
	.input_200 {width: 65%!important}
	.input_70, select {width: 100%!important}
	#hero select {width: 118px!important}
	input.unit_n_month_left {padding-left: 90px}
	input.unit_n_hour_left {padding-left: 80px}
	input.no_padding_left {width: 66%}

	select.big-dropdown {font-size: 22px; }
	.input_value select {margin-top: 10px}

	.radio_tab_container {width: 70px}
	.radio_tab_container label {font-size: 12px; padding: 4px 0}
	.small_tabs .radio_tab_container label {font-size: 12px}

	label.float_left {float: inherit; margin-bottom: 10px}

	.unit, .per, .during, .months_year, .minutes_day, 
	.unit_days-per-week, .days_per_month, .hours_week, .min {font-size: 22px}
	.small_input .unit {top: 0px!important}

	#div_car_job_yes_form2, #div_car_job_no_form2, .fuel_efficiency {margin-left: 0}

	#currency_div_form2 input[type='number'] {width: 130px}

	#working_time_input_form3 input, #daily_tolls_true_div input {margin-bottom: 10px}

	#div_car_job_yes_form2 input[type='number'] {width: 80px}

	#daily_tolls_false_div label span {max-width: 100%}
	#daily_tolls_false_div input {width: 50%!important }

	#working_time_input_form3 input.input_70 {width: 40%!important }
	
	.time_spent_part2_form3 .input_70 {width: 40px!important }




	
	/* ------ Footer Animation ------*/

	footer .animation {width: 100%; background-size: 160%;}
	footer, footer .animation {height: 250px}

	
}

