.section-wrapper {max-width: 1170px; width: 100%; margin: 0 auto; }

.worldStats-car-costs-chart {display: block; width: 100%; height: auto; margin-bottom: 25px;}

.worldStats-car-costs .stats-references {display: inline-block; margin-bottom: 100px;}

.notes-sources {display: block; background: #eceffb; margin: 100px 0 0; padding: 100px 0 }
.notes-sources .section-wrapper {max-width: 770px}
.notes-sources .section-wrapper h2 {margin: 0 0 20px}
.notes-sources .section-wrapper ul {text-align: left;}
.notes-sources .section-wrapper ul li {margin: 0 0 10px 18px}
.notes-sources .section-wrapper ul li a {display: inherit;}


/* ---------- Stats Table ---------- */
table.stats-table {border-collapse: collapse; border-radius: 5px; width: 100%; color: #000000; font-size: 14px; line-height: 16px; margin: 0; background: white; -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05); -moz-box-shadow:0px 0px 15px 0px rgba(0,0,0,0.05); box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);}
table.stats-table tr {display: table-row; border-bottom: 1px solid #d2d4de }
table.stats-table tr:last-child {border-bottom: none}
table.stats-table tr:hover {background: #f4f6fe}
table.stats-table tr th {border-top: 3px solid #f4f6fe; text-align: right;color: #797b82; font-size: 10px; line-height: 12px; text-transform: uppercase; padding: 8px 4px; background: #f4f6fe}
table.stats-table tr th:first-child, table.stats-table tr td:first-child {text-align: left; padding-left: 10px}
table.stats-table tr th:last-child, table.stats-table tr td:first-child {padding-right: 10px}
table.stats-table tr td {padding: 8px; text-align: right; width: auto; margin: 0;}
table.stats-table tr td + td {text-align: right; width: auto}
table.stats-table tr td.bold {font-weight: bold}


.notes-sources .section-wrapper table.stats-table tr th {padding: 18px 10px}
.notes-sources .section-wrapper table.stats-table tr td {padding: 12px 10px}

.notes-sources table.stats-table tr td + td:nth-child(2),
.notes-sources table.stats-table tr th + th:nth-child(2) {text-align: left; }


@media screen and (max-width: 1024px) {

  .worldStats-car-costs {width: 94%; margin: 0 auto;}
  .notes-sources .section-wrapper {width: 94%;}

  #statspage_body table.stats-table {border: 0; background: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}
  #statspage_body table thead {border: none; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}
  #statspage_body table tr { border-bottom: none; display: block; margin-bottom: 15px; background: white; box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05); -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05); -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);}
  #statspage_body table td { border-bottom: 1px solid #ddd; display: block; font-size: 14px; text-align: right;}
  #statspage_body table td::before {content: attr(data-label); float: left; color: #797b82; font-size: 14px; text-transform: uppercase;}
  #statspage_body table td:last-child {border-bottom: 0;}
  #statspage_body table.stats-table tr th:first-child, #statspage_body table.stats-table tr td:first-child {text-align: right}
  #statspage_body table.stats-table tr td:first-child a br{display: none}


}



@media screen and (max-width: 600px) {
    
    #statspage_body table td::before {font-size: 12px;}

    .notes-sources {margin: 50px 0 0; padding: 50px 0}


}





