body {
    font-family: Arial;
}
table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid grey;
    padding: 4px;
}
h1 { font-size: 2em; 
     text-align:center;
     margin:0;
}
h3 { font-size: 1.17em; 
     text-align:center; 
     margin:0;
}
.chart {
    position: relative;
    margin: auto;
}
table {
    margin: 0 auto;
}
th, 
.country {
    font-size:80%;
}
th {
    border-bottom: solid 2px;
}
.center{
    text-align:center;                
}
.tdRight{
    text-align:right;
    padding-right: 10px;
}
.justify{
    text-align: justify;
}    
.right2px {
    border-right: solid 2px;
}

table {
  overflow: hidden;
}

tr:hover {
  background-color: #ffa;
}

td, th {
  position: relative;
}
td:hover::after,
th:hover::after {
  content: "";
  position: absolute;
  background-color: #ffa;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}


/*colours*/
.white {
    background-color: white;
    padding: 1px;
}

/* References colors */
.depreciation_color {background-color: #2ba3d6;}
.vehicle-insurance_color {background-color: #10c6e6;}
.car-finance_color {background-color: #5ae0e2;}
.vehicle-inspection_color {background-color: #99e6bc;}
.vehicle-excise_color {background-color: #ffda70;}
.fuel_color {background-color: #ff9e84;}
.maintenance_color {background-color: #ff7192;}
.repair_color {background-color: #e562aa;}
.parking_color {background-color: #ea90cd;}
.tolls_color {background-color: #eabcef;}
.traffic_color {background-color: #9f97ef;}
.washing_color {background-color: #867ae3;}

