# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

# Test the automobile costs calculator in the Browser using Chrome Web Engine

name: Browser

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test-chrome:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: test
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '16.x'
        cache: 'npm'
    - name: Which browser engines paths?
      run: which chromedriver
    - name: Install package
      run: npm ci
    - name: Test Frontend with Chrome
      run: npm run test:chrome
