<div id="banner_top">
    <div id="left_top_div">&nbsp;</div>
    <!--#####################-->
    <div id="header_main_title">
        <div id="main_title">
            <header>
                <div id="main_title" class="LangVar"></div>
            </header>
        </div>
    </div>
    <!--## Select country box ##-->
    <div id="country_box">
        <div id="country_box_inline">
            <div id="banner_flag_div">
                <div id="banner_flag"></div>
            </div>
            <div id="country_select_div">
                <select name="country_select" id="country_select" onchange="onCountrySelect(this.value);">
                </select>
            </div>
        </div>
    </div>
</div>